[2017-10-20 17:49] mattklein123 opened #1 "Repo setup"
Please use this issue to discuss general setup. I want to agree on a bunch of things before anyone starts pushing code:

- [x]  CI setup. (CircleCI)
- [x]  Build system. Bazel?
- [x]  Dependency tracking. Glide/godep/something else?
- [x]  Outline of project scope. What this is and what this isn't in README.

[2017-10-20 17:51] mattklein123 commented on #1
@kyessenov @junr03 @rshriram

@rodaine @twoism can you please advise/help with Go project setup.

cc @envoyproxy/maintainers

[2017-10-20 18:12] kyessenov commented on #1
From Istio experience: we went with Bazel for go for build & dependency management, but it's rough, and everyone ends up using regular go tools anyways. However, it's fairly easy to convert Bazel workspace into a full-vendorized flat go build by symlinking stuff into `vendor`. I think we want Bazel for protobuf code generation, and we can either commit the generated code or not, based on the prefe

[2017-10-20 18:13] htuch commented on #1
Please setup with https://github.com/envoyproxy/data-plane-api/pull/201 and native `proto_library` in mind.

[2017-10-20 18:17] rshriram commented on #1
I suggest that we stick with Circle CI.. ITs pretty sleek.
Second, for build, I suggest we stick with standard go tooling, if we want this repo to be used by wide variety of projects. Keep in mind that not everyone builds Envoy from scratch. Forcing them to install bazel just to convert this into a go project is a non starter for adoption.

We also want to be able to take advantage of go standard

[2017-10-20 18:18] kyessenov commented on #1
Go tools are pretty nice, but dependency management is a zoo at the moment. `go dep` seems to be the future. Either way, I can maintain a Bazel build just to be able to import it elsewhere as Bazel infected lots of projects around Envoy already.

[2017-10-20 18:20] rshriram commented on #1
Dependency tracking: Glide/godep is fine. Given that @junr03 is the one with existing implementation of a v2 library, I suggest we go with whatever he is already using (which happens to be glide).

We can have a Bazel build, but lets not make it as the canonical build system. We can have scripts that ensure that the bazel files are updated always, so that its easier to import in other bazel projec

[2017-10-20 18:33] 9len commented on #1
Big +1 on standard Go tool chain, if you want broad adoption.

As long as we’re good about vendor hygiene (don’t leak vendored interfaces and types out of library code) I think any of the go dependency managers is fine.

I’m pro-circle too.

[2017-10-20 18:35] cmluciano commented on #1
+1 for go dep

[2017-10-20 18:38] rshriram commented on #1
So, is it settled then? Circle CI, standard go tool chain, glide? As for the scope, I can send a PR on the current scope (API server for data plane protos, and a cache layer. Not a translation layer, as @junr03 pointed out).

[2017-10-20 18:46] mattklein123 commented on #1
OK SGTM. My preference is no Bazel unless it's absolutely required which it sounds like it isn't.  If we can only use Bazel in certain cases (like protobuf generation which gets committed) that sounds OK to me.

We are using glide at Lyft right now but I have no preference between go dep, glide, etc.

I will turn on CircleCI for this repo, so someone can then just do a PR to add a config.

@rshrir

[2017-10-20 18:50] mattklein123 commented on #1
CircleCI is enabled: https://circleci.com/gh/envoyproxy/go-control-plane/tree/master. You can commit v2 Circle configs when you are ready.

[2017-10-20 19:25] rodaine commented on #1
Until `dep` is absorbed into the go toolchain, I'd prefer using `glide`. Later transitioning to `dep` should be straightforward as it relies on the same vendoring mechanics as `glide`.

[2017-10-20 20:07] theatrus commented on #1
-1 Bazel
+1 dep (or glide), Glide authors are starting to suggest steering to dep on their latest release.

[2017-10-20 22:01] mattklein123 commented on #1
Project scope here: https://github.com/envoyproxy/go-control-plane/pull/2

Please review.

[2017-10-21 11:18] skyrocknroll commented on #1
+1 go dep
 -1 for bazel

[2017-10-22 09:28] davecheney commented on #1
-1 for bazel as a hard requirement. As the other commenters have pointed out, if this project does not build with the standard Go tools, especially as #2 suggests it is a library that others will import and provide their own cache population mechanisms, then making bazel a hard requirement will significantly impact its utility.

As for dependency management. If you do this right, you shouldn't hav

[2017-10-24 21:14] rshriram commented on #1
we can close this, as we now have CircleCI, glide, and standard go tools for building. Repo scope has been updated as well.

[2017-10-24 21:14] #1 closed

[2017-10-25 21:19] kyessenov opened #6 "Streaming gRPC server"
At the basic level, the management server provides a streaming gRPC server that implements xDS APIs. This server accepts connections from Envoys, and streams configuration updates to all proxies.

The server has to keep track of `(version_info, nonce)` for each connected `Node`, as well as the type of the requested resource (routes, listeners, clusters, or multiplexed through a single ADS stream).

[2017-10-25 21:26] kyessenov opened #7 "Caching xDS responses"
The management server has to maintain a cache of the desired configurations for all proxies in the mesh. Since there could be a lot more proxies that different configurations, it seems we want to be able to group proxy nodes into buckets.

Let's start with a generic bucketing function:
[code]

For example, we can use the cluster field in the node to group API responses if the cluster corresponds t

[2017-10-25 22:21] kyessenov opened #8 "ADS zero traffic-loss staged updates"
xDS protocol was designed with eventual consistency goal in mind. Under certain circumstances, there is a possibility of traffic loss in the middle of configuration update. For example, a transition from a listener L1 using cluster C1 to a listener L2 using cluster C2 using two CDS and LDS would cause a brief loss in the inconsistent state L1, C2 or L2, C1. The way around this problem is to sequen

[2017-10-25 22:42] mattklein123 commented on #7
For Lyft I think we basically need a bucket for a group, and then a bucket for canary also (which is a node concept). @junr03 can you work with @kyessenov to make sure we can accomplish this in the first version.

[2017-10-25 22:45] mattklein123 commented on #6
I think this part needs a bit more fleshing out. All go routines are going to effectively wait on a channel for updates from some other process (cache invalidator, etc.) that is accepting new configurations. So there should probably be some type of config watching interface that the go routine waits on. Maybe this is what you mean?

[2017-10-25 23:50] kyessenov commented on #6
Right, the routine receives the updates and then drives its proxy to accept it. We can use a channel as an interface between the routine and the process that decides the config updates - the cache or however we call it. To layer the system, I think batching/sequencing xDSes is something in the control of the cache. The routine should just sequence the versions/nonces.

[2017-10-26 00:06] mattklein123 commented on #6
Sure +1 sounds like a good high level plan. Let's see what comes together.

[2017-10-28 00:21] kyessenov opened #10 "Set-up xDS protocol testing"
We should make some basic ping-pong style tests for the server. That requires a client. Should we mock Envoy or just use the real thing? If we use a real envoy, we can probably query its admin interface to validate config application.

[2017-10-31 00:53] kyessenov opened #13 "Cache garbage collection"
Maintaining a cache of responses requires garbage collection of response for stale nodes.
Since the goal for now is a total cache (e.g. the entire response cache is loaded on-demand/a-priori), the right strategy seems to be one of or combination of:
1. let the client evict responses;
2. evict responses after certain duration threshold.

[2017-11-13 18:56] kyessenov commented on #10
PR #21 adds a simple development script (not automated in CI)

[2017-11-22 23:19] kyessenov opened #23 "Switch to gogo from goproto"
Is there an interest in switching to gogoprotos from goprotos?
The generated code looks a lot more pleasant to work with (oneofs are terrible in goproto), plus we may get insubstantial performance improvements.

WDYT?

@davecheney @junr03 @rshriram

[2017-11-22 23:24] kyessenov commented on #23
Relevant read:
- https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/protobuf.md
- https://github.com/alecthomas/go_serialization_benchmarks

[2017-11-23 02:28] davecheney commented on #23
I don’t have a strong position, you’re doing the hard work of maintaining the generated code.

[2017-11-24 08:04] roadrunner commented on #23
@kyessenov  check out the [protobuild](https://github.com/stevvooe/protobuild) package. docker swarm using the same approach as well.
example implementation https://github.com/containerd/containerd

[2017-11-27 17:41] 9len commented on #23
looks like a much cleaner interface.

[2017-11-27 21:30] kyessenov commented on #23
@roadrunner envoy API is using bazel for canonical build system. so all the gogoproto annotations  and codegen will need to be wired through bazel (for better or worse).

[2017-11-28 08:24] roadrunner commented on #23
@kyessenov, in my company, we use makefile pretty much for all stuff like the build / test / gen.
i've no clue about bazel, but i'm think that shouldn't be a hard work to get going.

as long as proto files are not changed, you don't need to invoke the generation process.

generating go code from the proto files might be done manually, ie: `make protos`  or  `go list ./... | grep -v vendor | xargs

[2017-11-28 17:23] 9len commented on #23
It's not hard work, but neither is it exactly easy.

I think there are really two use cases to consider:

1) library consumers
2) library contributors

For (1) I think it's pretty important to keep bazel out of the mix, for reasons we've previously discussed (TL;DR go libs should play nice with the standard go toolchain), so I'd definitely advocate for checking in the generated code, and consideri

[2017-12-11 11:56] ccmtaylor opened #24 "project doesn't build"
The code in package server imports package `context`, but the generated code in package `api` references `x/net/context`. In addition, the code references a bunch of packages that are missing from the vendor directory.

On a clean checkout after running `make depend.install`, `make test` and `make build` fail (on go 1.8.3; Ubuntu)

<details>

[code]

and

[code]
<details>

[2017-12-11 17:28] mattklein123 commented on #24
@kyessenov do you mind taking a look?

[2017-12-11 18:11] kyessenov commented on #24
Hi @ccmtaylor , you need go 1.9, since it introduces type aliases to bind `x/net/context` to `context`. I think protobuf generates `context` but `gRPC` still uses `x/net/context`.

[2017-12-13 02:10] #23 closed

[2017-12-13 02:43] davecheney commented on #23
Thanks for doing this, I’m excited to try it out.

[2017-12-13 03:30] kyessenov commented on #23
I encourage folks to add gogoproto annotations in data-plane-api where it makes sense (e.g. `nullable`, `stdduration`). I didn't do a full revision, but things will be discovered as we use xDS.

The generation script is mostly automated. I can run it once in awhile manually, since it's fairly simple. Doing automatic multi-repo sync is painful, as we observed first-hand in istio.

[2018-01-06 08:15] skyrocknroll commented on #24
Also  Please Protobuf compiler `protoc` to latest version like 3.5.x

[2018-01-08 22:33] kyessenov commented on #24
@skyrocknroll which protoc are you referring to? CI version or something in the scripts?

[2018-01-25 22:00] gregdurham opened #37 "Cache Comparison"
Would it make sense to add a comparison method in the simple cache, where you can send an old snapshot and compare it to what you want the snapshot to be, comparing everything except version?

If using a timer based updater (naive approach), this would allow us to not cause proxies to update unless changes occur. There likely is a better approach to this.

[2018-01-30 19:57] joeyb opened #38 "Java Port"
Most of our disco/metrics/etc. infrastructure is built around java, so I've been working on a java port of `go-control-plane`. Would there be interest in creating a new repo under the `envoyproxy` org for it?

I've basically followed the same design as `go-control-plane`, with just some minor tweaks to make it more idiomatic for the java world.

[2018-01-30 20:01] mattklein123 commented on #38
@joeyb I'm interested in seeing a Java port. Do you have a set of maintainers that would be willing to manage a repo? We can provide CircleCI. Optimally it would be nice to start with 3 maintainers just for coverage (even more optimal if from more than one organization but that might not be possible right away).

[2018-02-02 06:17] kyessenov commented on #37
Sure, that would be useful functionality. We might need to add "equals" methods on the relevant protobuf generated types, I think (and those are known to have problems with `map` fields). I'm playing with gogoprotobuf which has some capability to auto-generated "equals" in many cases.
In case you're wondering, Envoy actually does some diffing internally, so the cost of re-sending a snapshot is pur

[2018-02-02 16:16] gregdurham commented on #37
Thanks @kyessenov I think for a first iteration approach, I will start with the index incrementing, hoping that envoy doesn't reload unless a change occurs. My next approach, likely will be to control the snapshot from the producer side.

[2018-02-02 17:34] kyessenov commented on #37
Sounds good to me. I've just seeded all core structs with auto-generated "Equals()" methods in my upcoming data-plane-api upgrade PR. That should make it simple to compare snapshots prior to serializing them.

[2018-02-02 21:17] joeyb commented on #38
@mattklein123 - I'm still working on figuring out additional maintainers on our end. In the mean time, I've published a PoC implementation here: https://github.com/joeyb/java-control-plane. The protos are due for an update following the recent re-orgs, but it should have feature parity with the Go-based implementation.

[2018-02-07 00:38] kyessenov opened #40 "Server-side validation auto-generated functions"
Blocked on https://github.com/lyft/protoc-gen-validate/issues/52

[2018-02-09 17:25] joeyb commented on #38
@mattklein123 - I've coordinated some additional maintainers from our side. What would be the next steps in kicking off the project? The implementation that I linked above in my repo currently has feature parity with the Go implementation. It just needs a few more tests and a more thorough review.

[2018-02-09 17:41] mattklein123 commented on #38
@joeyb SGTM. Let's do it. @htuch any objections? Can you provide the GH names of the other maintainers? I can create the repo today and set everything up.

[2018-02-09 17:46] htuch commented on #38
@mattklein123 no objections, sounds rad. I kind of wish we had a single source of truth when it came to API sequencing and update logic, but given the way different language communities work, I can envisage a Java/gRPC/C++ split. Hopefully we can have no more than those three (everyone else uses C++ bindings, just like in the gRPC world).

[2018-02-09 20:00] joeyb commented on #38
@mattklein123 - awesome, thanks! The other initial maintainers are @b-hoyt and @ramaraochavali.

@htuch - Totally agree. I'd love to not have to create a separate impl, but building on top of a native c++/etc. impl would be pretty unpleasant on the JVM. Like you mentioned, I think gRPC is great prior art for this. It would make sense to end up with implementations in Java, Go, and C++, with the la

[2018-02-09 22:16] mattklein123 commented on #38
OK I created https://github.com/envoyproxy/java-control-plane. We can discuss further stuff in issues there. @joeyb @b-hoyt  @ramaraochavali I sent you an invite to the org. Once you accept I will give you write access to the repo and off we go! Closing this out.

[2018-02-09 22:16] #38 closed

[2018-02-28 20:28] kyessenov opened #46 "Avoid repeated push of rejected configuration"
If envoy rejects a config, the snapshot cache will attempt to push the same config immediately after envoy requests it again. If envoy does not limit its requests, the server will drive envoy into a loop of request-receive-reject, potentially causing unnecessary CPU load.

[2018-03-01 01:00] kyessenov opened #47 "Update to go 1.10"
That should help with developer experience since 1.10 manages build caches much better.

[2018-03-01 19:23] kyessenov commented on #46
Tracking issue in envoy: https://github.com/envoyproxy/envoy/issues/2169

[2018-03-02 20:37] gsagula commented on #46
@kyessenov It saw that you are tracking this 2169 ^^. I'll be pushing the PR over the weekend. Quick question: Do you know by any chance what would be a good baseline to detect continuous bursts (requests/sec). We are not making it configurable for now. Thanks!

[2018-03-02 20:42] kyessenov commented on #46
I don't think I know the number that was validated in the real world. I think something <100qps is a realistic upper-bound for config updates per proxy. It might be worth trying to push invalid configs for each xDS at certain qps, and see CPU impact. Currently, envoy just consumes all available CPU while trying to invalidate the config.

[2018-03-02 20:50] kyessenov commented on #10
Fixed by #50

[2018-03-02 20:51] kyessenov commented on #6
Mostly done.

[2018-03-02 20:51] #6 closed

[2018-03-03 18:57] gsagula commented on #46
I will try that and if I can get a more accurate number, but something like <100qps seems realistic for me too. Thanks!

[2018-03-06 18:28] #47 closed

[2018-03-06 23:23] #10 closed

[2018-03-09 06:12] rerorero opened #54 "Is Consistent() correct?"
Hi. Thank you very much for the implementation. This helps me a lot.

I tried this but faced an error at cache.Consitent(). It compares with the numbers of endpoints, but GetResourceReference(cluster items) returns the number of ClusterConfig, not the number of endpoints. It returns at most one for each cluster item.
https://github.com/envoyproxy/go-control-plane/blob/master/pkg/cache/snapshot.go#

[2018-03-09 06:52] rerorero commented on #54
Oh, sorry, I missunderstood. I found that Consitent() compares the nembers of ClusterLoadAssignements which has some endpoints.

[2018-03-09 06:52] #54 closed

[2018-03-10 01:18] kyessenov commented on #54
I'm glad you found this useful. Let me know if you spot anything else.

[2018-03-10 04:50] kyessenov opened #57 "Implement SDS"
- [x] add stubs for SecretDiscoveryService
- [x] add secrets to snapshots
- [ ] work-out ADS semantics for secret fetching
- [x] test and validation

[2018-03-12 20:45] kyessenov opened #58 "Ordering on version info"
It seems that we should optionally support an ordering operator on the versions, to make it easier to load balance xDS requests between control plane servers. If a server receives a request for a newer version, it should withhold replying until it catches up. For example, let's say we go through versions v1, v2, v3, and the state is:
1. envoy at v2
2. server1 at v1
3. server3 at v3

If envoy makes

[2018-03-12 20:55] kyessenov opened #59 "Ordering on xDS responses"
In ADS mode, it is preferable to respond to xDS queries in the following order, to match the topological ordering of cross-references between xDS resources:
1. CDS
2. EDS
3. LDS
4. RDS

We should support sequencing the responses in this order. This is mostly applicable to ADS mode, since in xDS mode, snapshots may be partial (e.g. only RDS).

[2018-03-15 19:24] kyessenov opened #62 "Group nodes to reduce snapshot cache size"
Currently, we need two separate identities for proxies:
- an actual ID used to track the state of the proxy on the server - detecting when the proxy goes away, monitoring accepted versions
- a lookup ID used to select the snapshot to push to the proxy.

In the current implementation, hey are treated as 1-1, which means there as many snapshots as there are proxies. In some cases, this is necessary,

[2018-03-15 19:27] kyessenov opened #63 "Relax consistency check for ADS"
ADS mode requires a hold on the response until the entire set of snapshot names is requested (to simplify version tracking of partial name subsets). That means, `Snapshot` must be self-consistent when submitted to the cache; it should have as many cluster load assignments as there are clusters. However, the client of the library, may want to use one pool of cluster load assignments for all proxies

[2018-03-20 23:34] kyessenov opened #66 "Add file access log filter name constant"

[2018-03-22 18:16] #66 closed

[2018-03-25 20:34] taion809 opened #68 "Tag releases"
Hello,
I've been using the go-control-plane for a little bit now and in that time there have been several breaking changes to the API.  It's not a big deal but it's unexpected work.  My suggestion is to start tagging releases after a breaking change (`v0.8`, `v0.9`, `v0.10`, etc) so it's easier to pin specific versions in glide.

[2018-03-26 18:28] kyessenov commented on #68
Hi, sorry about that! Yes, I'll start from the initial tag 0.1 in a moment.

[2018-03-26 18:31] kyessenov commented on #68
Done. The upstream APIs are subject to strict compatibility requirements from now on. Hopefully, that should avoid all the churn we have caused.

[2018-03-26 18:31] #68 closed

[2018-03-28 16:35] #40 closed

[2018-04-10 09:06] liuliqiang opened #72 "Does this project outdate?"
I try this project to wirte my own CDS， however i found the grpc interface changed.

In this project, it's

[code]

but in date-plane-api, it change to

[code]

so, have it change?

[2018-05-11 19:46] dougfort opened #77 "test framework for dynamic routing"
See https://github.com/DecipherNow/fabric-experiments/tree/master/metrics-test

This has 1 http client and 1 grpc client each talking to a 'store' service which talks to a 'bank' service. The clients send simple requests at random intervals. The servers add random amounts of latency.

To facilitate testing dynamic routing I propose to add:

 * multiple clients of each type
 * one or more clusters

[2018-05-11 19:51] #77 closed

[2018-06-11 18:06] DennisRutjes opened #81 "inconsitent usage of context package"
Generated API uses golang.org/x/net/context".Context should use context".Context

# github.com/envoyproxy/go-control-plane/pkg/server
../github.com/envoyproxy/go-control-plane/pkg/server/server.go:65:41: cannot use server literal (type *server) as type Server in return argument:
	*server does not implement Server (wrong type for FetchClusters method)
		have FetchClusters("context".Context, *"githu

[2018-06-11 18:12] kyessenov commented on #81
Can you please make sure you're using a recent version of Go? Type aliases were recently introduced to the language, and they get around this problem of legacy code using old struct names.

[2018-06-11 18:15] DennisRutjes commented on #81
mm I am using 1.9.7?

[2018-06-11 18:17] kyessenov commented on #81
Hmm, 1.9.7 should have type aliases. I saw this error before, but once I updated my dependencies it went away. I'll see if I can get rid of `x/net/context`. Some of it is coming from gRPC.

[2018-06-11 18:20] DennisRutjes commented on #81
thanks in advance!

[2018-06-11 19:02] DennisRutjes commented on #81
After I used go dep init for my project the issue was resolved!

so no urgency @kyessenov

[2018-06-11 19:29] kyessenov commented on #81
Great. I'd prefer to keep using the old context package. There are some arguments here https://github.com/gogo/protobuf/issues/390.

[2018-06-12 19:03] alecholmez opened #83 "Build error when vendoring dependency"
## Bug
Revision: `39c73ae5ba014b648d4164a24340a78b6b761978`

I am building a docker image with an instance of the Aggregate Discovery Service that imports this library as a package. I am receiving a syntactical error from `cache.go`:

## Error
[code]

I'm not entirely sure why this is happening because line 25 is valid syntax.

## Vendor Information
I am using dep for my dependency management.
[co

[2018-06-12 19:05] kyessenov commented on #83
Hi,
Can you please share what version of golang you are using?
Thanks

On Tue, Jun 12, 2018 at 12:03 PM Alec Holmes <notifications@github.com>
wrote:

[2018-06-12 19:08] alecholmez commented on #83
@kyessenov turns out I was using a stale version! Sorry about that!

[2018-06-12 19:08] #83 closed

[2018-06-14 02:24] cdelguercio opened #85 "Is there an equivalent to /v1/registration/service-name for EDS?"
I miss the status endpoint of the lyft/discovery reference SDS implementation. Is there a way to get the same information using the v2 messages?

[2018-06-19 19:44] kyessenov commented on #85
You can use gRPC gateway that converts HTTP/1.1 requests into gRPC. See documentation: https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/lds.proto#L33, for example.

There is a sample gateway implementation here https://github.com/envoyproxy/go-control-plane/blob/master/pkg/server/gateway.go (or you can use gRPC generic one).

[2018-06-20 19:07] 9len opened #86 "please cut a v0.3 tag"
Hi @kyessenov,

we would like to use some of the more recent schema changes, but would prefer a stable tag. Do have time to cut one in the next few days?

Thanks!

[2018-06-21 00:49] Y0Username commented on #62
@kyessenov Has this been addressed yet?

[2018-06-21 21:17] kyessenov commented on #86
Done. Checked with envoy APIs and no new generated APIs needed.
Enjoy :)

[2018-06-21 21:17] #86 closed

[2018-06-21 21:18] kyessenov commented on #62
Sorry, was drawn into other work. You are welcome to contribute changes.

[2018-06-22 19:41] Y0Username commented on #62
@kyessenov Any pointers on how to go about this?

[2018-06-27 09:08] oneamitj opened #87 "Is there a way that EDS IPAddress accepts docker hostname with EDS Cluster?"
Is there a way we can use docker service eg `webapp_dev_webapp.1.no9rqsfuz73k026uod3hsjk83` as `core.SocketAddress.Address`?

Docker service name for a static cluster address defined in envoy config yaml works well and resolves fine, as cluster type is logical_dns. For dynamic Envoy config, cluster type = EDS, and each cluster has its Endpoints. If I provide normal IP Address and port for each End

[2018-06-27 16:24] 9len commented on #87
Unfortunately, while you can set the cluster type to `LOGICAL_DNS` in a statically configured cluster, AFAIK there is no way to set a CDS/EDS cluster to use logical DNS. It's a hole in the API.

The way we solve this in [rotor](https://github.com/turbinelabs/rotor) is to resolve the DNS entry within the control-plane, and hand out resolved IPs in EDS.

[2018-07-02 03:56] actaeon opened #89 "Missing channel init?"
Where do [these](https://github.com/envoyproxy/go-control-plane/blob/master/pkg/server/server.go#L83-L86 ) channels get initialized?

I see where they're "re-initialized" down [here](https://github.com/envoyproxy/go-control-plane/blob/master/pkg/server/server.go#L246-L265), but I'm not seeing where they're initially set. I think maybe some calls to `s.cache.CreateWatch()` might be missing up above

[2018-07-02 06:29] actaeon commented on #89
Never mind, I see what the logic is now. Sorry for the noise.

[2018-07-02 06:29] #89 closed

[2018-07-03 05:56] davecheney opened #90 "core.Healthcheck.{Timeout,Interval} use *types.Duration not *time.Duration"
The duration style fields in `core.Healthcheck` are defined using the gogo/types Duration struct
[code]
Elsewhere in the core package the more convenient time Duration type is used
[code]
Why are there differences in the two definitions? Is it possible to change Healthcheck to use *time.Duration?

[2018-07-03 06:26] oneamitj opened #91 "Envoy xDS not updating after 15-20 minutes."
Created xDS GRPC v2 API for envoy as suggested in `go-control-plane/pkg/test/main/main.go`. Callback, Management Server and Gateway are same, AccessLogServer is removed. It works perfectly and CDS, RDS and LDS are updated successfully.

The problem is from envoyproxy (docker) service. At first, on change of snapshot, GRPC API sends StreamResponse, then envoyproxy does StreamRequest and updates xDS

[2018-07-03 07:45] wannamit commented on #87
Below code worked for me. `webapp-service` is my docker service name. This way envoy resolves `webapp-service` to as many IPs as its replica count.

[code]

[2018-07-03 16:35] 9len commented on #87
Yes, the other way to do this is to embed the hostlist directly in the cluster response, rather than using EDS at all.

[2018-07-03 21:51] kyessenov commented on #90
The difference is because of gogoproto annotation. I assume health check proto is new, so it was not annotated manually. I will take a look at the new changes in envoy protos, and update the annotations.

[2018-07-03 21:53] kyessenov commented on #81
Let's wait a few months before changing the package (so all the underlying gogo/go issues get ironed out).

[2018-07-03 23:39] kyessenov commented on #91
I'm not sure where 15 minutes come into play... Can you please provide logs from envoy when the second stream response arrives at trace level (`-l trace`)?
I'll appreciate any help with debugging this.

By the way, you _do_ increment the version on every snapshot change? Version must change for the protocol to work correctly.

[2018-07-03 23:41] davecheney commented on #90
Thank you. If you could update those with the correct annotations that
would be wonderful!

Is that something you'd also like to see contributions for? Or should I
stick to raising issues?

On 4 July 2018 at 07:51, Kuat <notifications@github.com> wrote:

[2018-07-03 23:43] kyessenov commented on #90
You are welcome to send patches to envoy protos for things like this. It's not changing bits on the wire, but improves developer experience when dealing with these protos. I'll do it this time, since it's an easy fix, and cc you.

[2018-07-03 23:43] davecheney commented on #90
Thanks, that'll give me a pattern to follow.

On 4 July 2018 at 09:43, Kuat <notifications@github.com> wrote:

[2018-07-03 23:57] kyessenov commented on #90
This is amazing. Someone beat me to it and updated those protos already: https://github.com/envoyproxy/data-plane-api/commit/1834c1b9471e36a016215b931b5bf095fb7db0c9

Sent a PR here to pick it up.

[2018-07-04 05:47] wannamit commented on #91
It's not exactly 15 minutes, something like more than 10 mins.

I have used unix time string for version name. `version = strconv.FormatInt(time.Now().Unix(), 10)` when there is change in API.

Logs with `trace`

When changes are accepted (change of RDS):

[code]

When envoyproxy stops getting changes there is no trace log.
Callback OnStreamResponse function
[code]
Callback Response log at that ti

[2018-07-06 18:38] kyessenov commented on #91
I cannot spot anything wrong in the logs. Let me try to understand your scenario:
1. you start envoy with some ID, configured to use xDS as separate services.
2. config is pushed normally for ~5-15 minutes.
3. xDS server sends a config, that envoy fails to request/acknowledge, and you forced to restart envoy.

I'm not sure how (3) can happen, since xDS server is supposed to reply only when envoy r

[2018-07-09 04:18] wannamit commented on #91
Yes to all the things you mentioned.

I have tested both ADS == True and False. My target is ADS, so testing in that.

My result from all testing is the connection timeout between Management Server GRPC and envoy in that time period. Currently, I have setup xDS API such that it changes version name in every 5 minutes so that envoy catches xDS changes and there is no disconnection, surprising it wo

[2018-07-10 09:01] davecheney opened #93 "Is it possible to get a new tagged release"
Hello,

Is it possible to get a new tagged released of this package including #92 and friends?

Thanks

Dave

/cc @kyessenov

[2018-07-12 02:57] kyessenov commented on #93
v0.4 done

[2018-07-12 02:57] #93 closed

[2018-07-12 03:13] davecheney commented on #93
Thank you, that’s a great help when dealing with buggy tools like dep.

[2018-07-12 07:03] wannamit commented on #91
With continuous config update, there is no problem. That is what I have used currently, send new config every 5 minutes so that there is no connection breakage, its working fine (it's been more than a week). This hotfix is working but I don't want unwanted/forced xDS updates just to keep connection good as this forced update may cause unforeseen problems in long run.

I will try without docker too

[2018-07-16 17:55] #81 closed

[2018-07-18 21:01] kyessenov commented on #91
@wannamit I ran the following test:
1. push ADS to envoy, send requests to verify
2. wait 15 minutes
3. push ADS to envoy, send requests to verify

I did not see Envoy rejecting config in step (3) (log line `add/update cluster ...`). I did notice a message of the form `Pausing discovery requests ...`, which I think is cluster warming (and there is also route and listener warming that depend on clu

[2018-07-18 21:14] #90 closed

[2018-07-19 18:47] kyessenov commented on #91
It's hard to tell what's going on. CI here uses a docker run to exercise xDS servers, but it is certainly easier to debug with envoy as a process.

[2018-08-15 06:09] wuhenfeike opened #105 "get sum error，how can i do？"
github.com\envoyproxy\go-control-plane\envoy\api\v2\cds.pb.go:2226:21: c.cc.NewStream undefined (type *grpc.ClientConn has no field or method NewStream)

[2018-08-15 09:23] davecheney opened #106 "Can we please have a new tagged release"
Hello,

Can we please have a new tagged release to pick up #102

If this tag could be in semver form that would be very helpful in letting me transition my project from Dep to Go 1.11's module system.

Thank you.

[2018-08-16 00:06] kyessenov commented on #106
Is the current tagging system module system-compatible?
Is v0.5 an OK tag, or should we switch to 1.x.y style?

[2018-08-16 00:07] davecheney commented on #106
Sadly v0.5 does not conform to the semver spec. It would need to be `v0.5.0`

[2018-08-16 00:08] kyessenov commented on #106
Sure. Will do in a moment.

[2018-08-16 00:09] davecheney commented on #106
Thank you.

On 16 August 2018 at 10:08, Kuat <notifications@github.com> wrote:

[2018-08-16 00:12] kyessenov commented on #106
Done. Let me know if something goes wrong during update.

[2018-08-16 00:12] #106 closed

[2018-08-16 01:39] davecheney commented on #106
Perfect. Thank you!

On 16 August 2018 at 10:12, Kuat <notifications@github.com> wrote:

[2018-09-05 21:42] kyessenov opened #110 "Consider using OpenCensus for monitoring instrumentation"
OpenCensus is a library for go that has extensible export backends:
https://github.com/census-instrumentation/opencensus-go

This should be a good choice to keep this library vendor-neutral.

[2018-09-17 16:03] klarose opened #114 "Integration test does not wait before closing HTTP Servers"
I want to make some changes to go-control-plane locally. Prior to making any modifications, I decided to run the integration tests before doing anything else. Surprisingly, they failed:
[code]
Note these lines:

If you look at the code for one, you can see:

[code]
It's not waiting for func() to actually finish, so it just closes the server immediately. I'm guessing that on my laptop, this happens

[2018-09-17 16:35] klarose commented on #114
PR: https://github.com/envoyproxy/go-control-plane/pull/115

[2018-10-01 22:25] dfjones opened #119 "Cache ADS Mode Snapshot Consistency Question"
We've run into an issue when using Envoy with a Snapshot Cache configured for ADS mode and statically defined clusters that are discovered through EDS.

This comes from trying to use EDS to discover the endpoints for the tracing service, for instance, in our Envoy config we have:
[code]
And then a static cluster configured for EDS:

[code]

We've noticed that if we configure the rest of Envoy's CD

[2018-10-09 17:14] klarose commented on #114
Closed by #115

[2018-10-09 17:14] #114 closed

[2018-10-12 07:14] nakabonne commented on #62
@kyessenov
In istio, settings are [divided](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/listener.go#L97) for each [NodeType](https://github.com/istio/istio/blob/master/pilot/pkg/model/context.go#L81:6)
How about grouping by node type?

[2018-10-15 08:22] nakabonne opened #122 "Generating a snapshot from a configuration file"
This is a feature request.
From the conclusion, How about adding a function to generate snapshot from yaml or json file?
Like this:

[code]

I think we need the abstracted API, if we want to manage the resource that becomes the response of xDS with yaml.
For example, in case we want to review the data-plane configuration with multiple people, we need to manage them with yaml or json files.

[2018-10-15 17:37] kyessenov commented on #62
NoteType seems like a reasonable way to subdivide the total proxy config. I would assume you still need groups per node type since istio has many "gateways" for ingress proxies, as well as each application sidecar having its own config.

In istio case, a better way to conserve memory would be to share the inner structures within the xDS configuration. For example, all outbound service configuratio

[2018-10-16 20:34] kyessenov commented on #119
The reasoning for holding the request was that we would need to generate multiple intermediate versions for EDS responses. A simple example is that let's say we have two clusters C1 and C2, and envoy requests:
1. EDS for {C1}
2. EDS for {C1, C2}

If we respond to request 1 with version X, then we need a new version Y for request 2. Generating this intermediate versions is certainly possible, but w

[2018-10-18 08:55] rongyi opened #125 "Put a link in main readme"
this pkg/test/main little test program is very useful to understand the envoy control plane,  may be we should put a link in this repo's readme to give  fresh user (like me) a good start.

[2018-10-22 15:48] dfjones commented on #119
Thanks for the reply, @kyessenov.

The sequence you outlined makes sense to me. I'm wondering if you have any suggestions for how to avoid the deadlock issue I described above? IMO it seems a bit too coupled that our control plane and each Envoy instance have to be on the same page about what clusters are declared statically in the Envoy's config and which should be sent through CDS. As it stands

[2018-10-25 17:07] trjordan opened #126 "Merge / accept Rotor, in whole or in part"
So with Turbine Labs [going away](https://www.turbinelabs.io/), there's not going to be anybody around to work on [Rotor](https://github.com/turbinelabs/rotor). Rotor is a control plane based on go-control-plane that adds EDS integration with common service discovery registries like Kubernetes, Consul, and AWS (EC2 tags and ECS).

If the Envoy project wants it, it's yours.

## Why It's Worth Adopt

[2018-10-25 17:13] trjordan commented on #126
cc @mattklein123 @caniszczyk

[2018-11-09 19:30] dfjones commented on #91
I've also had a similar issue in production again only occurring after a time frame much longer than 20 minutes. Do you have keepalives turned on? We think setting up gRPC keepalives on the go-control-plane side and TCP keepalives on the Envoy side has helped with our issue.

[2018-11-14 07:46] wannamit commented on #91
I am not 100% sure what are exact changes you recommended but here are my changes.

For server creation GO-Code:
[code]

On envoy config YAML side:
[code]

But didn't solve my problem. Am I missing something @dfjones

FYI: I am using Envoyproxy v1.7.0 (image: envoyproxy/envoy-alpine:v1.7.0)

[2018-11-16 16:12] dfjones commented on #91
@wannamit The changes you have on the server side are what I had in mind. On the envoy side, here's what I was referencing:

[code]

[2018-11-21 11:02] wannamit commented on #87
The alternative solution I provided seems no more of use (from v1.9). As Hosts in the cluster is now deprecated by LoadAssignment of type *ClusterLoadAssignment which uses EDS Cluster. This is troublesome for me too. I am staying at v1.8, as I use Docker as host and need to resolve docker service hostname to (multiple) IP.
In hope support for LOGICAL_DNS in EDS/CDS cluster will be added.
PS: Is th

[2018-11-30 09:43] wannamit commented on #91
@dfjones It seems adding keepalive parameters worked. Will be testing in production. If any problem occurs, will reply back.

[2018-12-25 17:54] murarisumit opened #138 "Stupid question, but how to run the this control plane"
How to run the control plane, able to run all make command.

Not sure, how can i run start this control plane, does some more work is required ?

[2019-01-02 20:11] taion809 commented on #138
Hello @murarisumit,
This is actually intended to be used as a library to a custom control plane that you'd need to write.  If you need something that already exists or some examples take a look at istio-pilot, gojektech/consul-envoy-xds, turbinelabs/rotor.

[2019-01-03 05:35] murarisumit commented on #138
Thanks for the help, I'll take look at them 👍

[2019-01-04 08:59] fenngwd opened #142 "Panic occurred when serializing OkResponse for ext_authz"
## Problem

Hi all

Panic occurred when my external authorization service marshal OkResponse.

Below are stack trace(out-of-order, the first line should be deepest trace):

[code]

## Vendor Info
I'm using go module for my dependency management.

[code]

## Golang version
1.11

## Releated Links
https://github.com/gogo/protobuf/issues/523
https://github.com/gogo/protobuf/issues/485

[2019-01-04 21:07] taion809 commented on #110
@kyessenov
What specifically would we want to instrument with opencensus?  I did work on integrating opencensus with our inhouse xds server and it was pretty straight forward but a lot of is was on the application code itself instead of threading it through go-control-plane.

[2019-01-04 21:11] kyessenov commented on #110
This is a good question, and it is probably more important than the choice of the monitoring library.
Doing it at a higher level is an option, but I believe there are some common needs that could be off-loaded to this library. OpenCensus was motivated as a vendor-neutral shim, since there aren't that many shims for monitoring out there.

Some ideas about what could be useful:
- xDS stats: rejects/

[2019-01-04 21:21] taion809 commented on #110
Cool that sounds good; can you assign this one to me?

[2019-01-04 23:16] kyessenov commented on #142
Is this because of nil in some slice? Could something be done here to avoid having nils in slices?

[2019-01-08 18:55] draeron opened #146 "ADS grpc stream get closed after each request"
This might be

I have implemented ADS server for a basic control plane using this package. I can send the data with proper versioning but for a reason i cannot understand, envoy keep closing the grpc stream which get's logged as a warning (see below). This might be the expected behavior but it feels somewhat wrong to me. My undertstanding of grpc is to reuse existing connections as much as possibl

[2019-01-24 08:19] gophobic opened #149 "How to use listener.Filter.ConfigType?"
Thank you for the package but probably lately `listener.Filter.Config` https://godoc.org/github.com/envoyproxy/go-control-plane/envoy/api/v2/listener#Filter has been deprecated in favor of `listener.Filter.ConfigType` which is probably of type `types.Any` where `types` is `"github.com/gogo/protobuf/types"`. I tried converting ` &envoyhcm.HttpConnectionManager{}` using `types.MarshalAny()` but it s

[2019-01-24 16:38] #149 closed

[2019-01-24 16:54] u8983478934 opened #151 "Filter.config_type causes protobuf errors for http_connection_manager since v1.9"
The structure of the `Filter` [message](https://github.com/envoyproxy/envoy/blob/v1.9.0/api/envoy/api/v2/listener/listener.proto#L23) has changed in v1.9 so that `config` became `config_type`. Now I get the error in Envoy's logs when the log level is set to debug

[code]
even though `StatPrefix` in `HttpConnectionManager` is set properly

here is my http_connection_manager
[code]

here is my filte

[2019-01-25 00:41] kyessenov commented on #57
One item left to do is to resolve ADS semantics with respect to SDS. It seems like it is similar to RDS. We might need to extend `Consistent` function to cover SDS resources.

[2019-01-25 00:54] kyessenov commented on #151
You might have better luck asking this in envoy slack/repo.
Proto only cares about field number unless you use JSON as input. So renaming of a proto field should not break wire compatibility.

[2019-01-25 17:44] kyessenov commented on #57
Another TODO: fix the unit tests in the `pkg/cache/` to exercise secrets. Need a fake secret for mocking purposes.

[2019-01-25 23:31] biefy opened #153 "Allow Callbacks.OnStreamRequest() to return an error to close streams"
When trying to add a simple rate limiting into an implementation of Callbacks, it came to me that OnStreamRequest() cannot close stream processing as it does not return an error.  It could be a common case to allow server close stream on specific requests.

[2019-01-30 12:51] andredasilvapinto commented on #91
I have the same problem. I will try the keep alives.

[2019-01-30 23:45] andredasilvapinto commented on #91
I can confirm adding keep alives also worked for me even though I was using the java control plane. Maybe this bug should be moved to the envoy repository?

[2019-01-31 10:18] andredasilvapinto commented on #91
Also, in my case the communication between envoy and the data plane is being done via an AWS NLB which has a 10 min connection idle timeout. After talking to @snowp we think it might be related to this.

[2019-01-31 18:20] kyessenov commented on #91
It might be good to document the idle timeout mitigation here or in envoy repo, if it is indeed the cause.

[2019-03-04 20:09] alecholmez commented on #122
You can actually do this by using the exported function:
[code]
All you have to do is build the `[]cache.Resource` array for each envoy resource type using the generated `envoy` resource proto files in this repo. Here's an example of that:
[code]
Obviously you'd do this for endpoints and routes if you need to, but you'd have to handle dealing with the yaml and translating that to the envoy resourc

[2019-03-05 06:16] PinZhang commented on #151
+1, got the same error, :(

[2019-03-11 21:08] rbkumar88 commented on #151
Same error

[2019-03-11 22:00] kyessenov opened #159 "unpin envoy"
Due to temporary protocol issues, Envoy is pinned to 3/7/19 build here https://github.com/envoyproxy/go-control-plane/pull/158/files#diff-3254677a7917c6c01f55212f86c57fbfR11.
Unpin it once resolved.

[2019-03-11 22:01] kyessenov opened #160 "unpin envoy"
Envoy is temporarily pinned to 3/7/19.
https://github.com/envoyproxy/go-control-plane/pull/158/files#diff-3254677a7917c6c01f55212f86c57fbfR11

[2019-03-11 22:02] #159 closed

[2019-03-12 02:02] kyessenov opened #161 "enforce deterministic marshalling for protos"
We need a linter check so that we do not accidentally generate non-deterministic marshalling code.

[2019-03-22 23:34] yifan-gu commented on #151
+1 same error

[2019-03-29 19:53] alecholmez opened #164 "Boostrap Config Unmarshaling Issues?"
Assuming the following valid Envoy JSON configuration file (validated by actually running an envoy instance with this):
[code]
Why would the following unmarshaling code fail with this error:
[code]
[code]
`drain_timeout` is a valid param in `listener.Filter` unless I am misunderstanding something. For clarification we are using the following package `"github.com/gogo/protobuf/jsonpb"` to handle th

[2019-03-29 23:22] jaricftw opened #165 "Listeners filters with Filter_Config fails the consistency check"
It seems we support two types of `ConfigType` in listener [Filter](https://godoc.org/github.com/envoyproxy/go-control-plane/envoy/api/v2/listener#Filter):
[code]

However, when verifying the [consistency](https://sourcegraph.com/github.com/envoyproxy/go-control-plane@77cedfa/-/blob/pkg/cache/snapshot.go#L90) of a snapshot, looks like only `Filter_Config` is considered valid:
[code]

Is this expect

[2019-04-01 20:49] skurunji commented on #151
+1 same error :(

What is the workaround for it ?

[2019-04-02 16:49] skurunji commented on #151
Worked when i used envoyproxy/envoy-dev:latest

[2019-04-05 08:00] HeinOldewageRetro opened #168 "github.com/envoyproxy/protoc-gen-validate/validate import"
`github.com/lyft/protoc-gen-validate/validate` now expects to be imported as `github.com/envoyproxy/protoc-gen-validate/validate`, this causes this package to fail to build.

This is in the case of installing the package using `go get -d github.com/envoyproxy/go-control-plane/...`

[2019-04-05 14:09] alecholmez commented on #164
Sorry all, I had a stale version of `go-control-plane`. _facepalm_ sorry for the confusion

[2019-04-05 14:09] #164 closed

[2019-04-05 18:23] kyessenov commented on #168
Yes, it moved yesterday. I'll send a PR shortly.

[2019-04-08 18:38] #168 closed

[2019-04-10 18:22] kyessenov opened #173 "issue with generated validation code: incorrect package import"
Reported by @yuval-k :
[code]

[2019-04-12 23:14] akshyag commented on #173
I am seeing the same issue

[2019-04-13 17:47] jpittis opened #174 "Unknown message type "envoy.admin.v2alpha.BootstrapConfigDump"."
I'm trying to parse the response from `/config_dump` into a `v2alpha.ConfigDump`.

[code]

My parsing code looks something like this:

[code]

Unfortunately the `Unmarmshal` call is returning the following error:

[code]

I don't understand enough about protobuf to know why the `@type` isn't being recognized by ` jsonpb.Unmarshal`. Any thoughts?

Here's a reproducible test case:

[code]

[code]

(

[2019-04-13 18:02] jpittis commented on #174
More bug hunting to add:

[code]

Sticking this line inside the `init()` block of `config_dump.pb.go` produces:

[code]

But if I try to print it out from `main()`, it produces:

[code]

[2019-04-13 18:11] jpittis commented on #174
The only other thing I've been able to think of is that I was maybe using two different versions of `proto`.

Seems like both packages are using the same version of `github.com/gogo/protobuf/proto`.

[2019-04-13 18:21] jpittis commented on #174
Found the issue. One package was using `vendor/` and the other package was using the `$GOPATH` version. Success! Always remember to `dep ensure` when you encounter a Go package issue. 😉

[2019-04-13 18:21] #174 closed

[2019-04-16 06:03] davecheney opened #175 "HttpConnectionManager.NormalisePath is not present"
To enable the path normalisation feature shipped in Envoy 1.9.1 I need to set HttpConnectionManager.NormalisePath but that isn't available yet. When will it be available?

[2019-04-16 21:02] kyessenov commented on #175
If this is a new field in data-plane-api, then it should be a matter of regenerating the protos. There's an annoying issue with some imports not respecting importmaps in protoc-gen-validate, which requires a bit of manual patching afterwards.

[2019-04-17 11:13] glebmish opened #176 "HTTP PATCH method seems to be unsupported by the library"
Hi!

I use PATCH requests that go through envoy and logs are written with als implemented on golang. I expect to see "PATCH" as a result of this code:

[code]

Instead, I see "METHOD_UNSPECIFIED". When I tried to find the reason in the library code, I found that PATCH is not in the list of request methods (https://github.com/envoyproxy/go-control-plane/blob/master/envoy/api/v2/core/base.pb.go#L67)

[2019-04-17 18:28] kyessenov commented on #176
You should probably ask this question in envoy itself. The source of truth is https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/core/base.proto#L132

[2019-04-18 12:22] glebmish commented on #176
What's interesting is that envoy itself writes PATCH to logs as expected. Probably it puts data in protobufs only to transfer to als or it's not the reason of the problem. I'll try to add PATCH for both envoy and library to check if it works and open issue there then.

Thank you!

[2019-04-20 00:05] kyessenov commented on #175
v0.7.1 has it.

[2019-04-20 00:05] #175 closed

[2019-04-20 00:08] davecheney commented on #175
Thank you!

[2019-05-09 19:16] LukeShu commented on #173
I am seeing this too.

[2019-05-10 13:28] terciodemelo opened #180 "Can't provide RedisProxy filter in a listener"
When I provide listeners to be provided over ADS to envoy, their `envoy.redis_proxy` filter won't be serialized correctly before being sent to Envoy:

For this listener:
[code]

Serializing it with:
[code]

And then deserializing it with:
[code]

Will yield the following output:
[code]

Notice that inside the `TypedConfig` object there's no `value` field as there should be. If I use the same Go co

[2019-05-14 00:52] davecheney opened #182 "HTTPConnectionManager.UseRemoteAddress is *types.BoolValue not bool"
Hello,

Some properties of `HTTPConnectionManager` are booleans, `Http1ProtocolOptions.AcceptHttp_10` for example, however others like `UseRemoteAddress` and `NormalizePath` are the less convenient `*types.BoolValue`.

Is it possible to convert the latter to be more like the former?

[2019-05-14 19:13] kyessenov commented on #182
This is controlled through gogoproto annotations. In general, this cannot be automated, since the reason for using wrapper types in envoy xDS is because of the inconsistent defaulting logic. E.g. if a boolean flag defaults to true in envoy, then we cannot use protobuf bool since it defaults to false.

However, if the defaults do match, then it is reasonable to annotate xDS APIs with the annotation

[2019-05-14 20:04] davecheney commented on #182
Thank you for the information. I’ll see what I can cook up.

[2019-05-20 02:17] xiaoxi1989 opened #183 "simple snapshotcache SetSnapshot in different versions not work"
[code]
.....

**one time:**
`s.SetSnapshot(n.ID(n.node), cache.NewSnapshot("1", n.endpoints, n.clusters, n.routes, n.listeners))`
**envoy log:**
[code]

**second time:**
`s.SetSnapshot(n.ID(n.node), cache.NewSnapshot("2", n.endpoints, n.clusters, n.routes, n.listeners))`

no response in envoy, why? did I do anything wrong?

[2019-05-22 07:52] lulucas opened #184 "How to config http external authorization"
[](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/ext_authz_filter#per-route-configuration)

I just want to add http authz filter,

[code]

[code]

Thanks

[2019-05-22 16:01] glebmish commented on #176
Hi, fixed the issue in envoy. Can we update it here now?
https://github.com/envoyproxy/envoy/issues/6694

[2019-05-23 10:25] developersPHP opened #186 "when i use the GrpcJsonTranscoder, envoy happen error"
the ADD_Listener_With_ADS_Route like this :
[code]

the envoy error report is

[2019-05-23 10:09:43.654][1][warning][config] [bazel-out/k8-opt/bin/source/common/config/_virtual_includes/grpc_mux_subscription_lib/common/config/grpc_mux_subscription_impl.h:77] gRPC config for type.googleapis.com/envoy.api.v2.Listener rejected: Error adding/updating listener(s) listener1: Unable to parse JSON as prot

[2019-05-23 11:04] developersPHP commented on #186
@kyessenov  can you help me ??

[2019-05-23 17:44] kyessenov commented on #186
I think you just have a stale envoy build. There might be new proto fields that your envoy is not aware about. You can try to run with `--allow-unknown-fields` to see if the error goes away, which would confirm it.

[2019-05-24 02:16] developersPHP commented on #186
@kyessenov  thank you !!
i had solved it
because the http_conn_manager httpFilter name must be match a supported filter

Is there any specific documentation for this project?  o(*￣︶￣*)o

[2019-05-24 12:46] developersPHP commented on #186
hi @kyessenov ， what the mean of the annotation.
 how to use AggregatedConfigSource, Can you give me an example??

my envoy config like this
"filters": [
         {
          "name": "envoy.http_connection_manager",
          "typed_config": {
           "@type": "type.googleapis.com/envoy.config.filter.network.http_connection_manager.v2.HttpConnectionManager",
           "stat_prefix": "grpc_json

[2019-05-26 08:09] developersPHP commented on #186
I have sloved the problem。
mark here
the bootstrap config must configur the dynamic_resources、cds_config、lds_config 、ads_config
the config_dump like this:
"rds": {
            "config_source": {
             "ads": {}
            },
            "route_config_name": "local_route"
           },
When the requested resource changes, envoy proactively requests the manager service under the XDS protocol

[2019-05-26 08:09] #186 closed

[2019-05-27 08:22] glebmish commented on #176
Hi, @kyessenov, can you please take a look at the issue I recently closed in Envoy? It affects the library as proto files are the same. As PATCH now added there, it would be good to update files here as well. What do you think?

[2019-05-28 17:38] kyessenov commented on #176
Yes, I saw your change. I'm hoping someone can approve https://github.com/envoyproxy/go-control-plane/pull/181 to get the protos flowing. I myself don't have rights to merge PRs without approval.

[2019-05-29 07:55] glebmish commented on #176
I see, thanks @kyessenov !

[2019-05-31 06:55] glebmish commented on #176
@kyessenov, I see that your PR is merged  and PATCH appeared in protobuf enum. Closing this issue

[2019-05-31 06:55] #176 closed

[2019-06-06 08:52] glebmish commented on #176
Hi @kyessenov,

do you know when is the next release? I'd like to have this fix but I guess I can only do this after the release, right?

[2019-06-06 17:20] kyessenov commented on #176
You can use SHA of the tip until a release is issued. There's usually one a month. Let me know if you have better idea how to organize release cycles here that works fine with Envoy releases (which are far less frequent).

[2019-06-06 20:54] jessicayuen opened #190 "Automatically keep data-plane-api version up-to-date"
Changes are currently being manually pulled in. It will be nice to automate this process through CI or otherwise.

[2019-06-10 10:37] glebmish commented on #176
Thanks @kyessenov, I'll let you know if it worked!

I don't think faster release cycle would be more beneficial than just using SHA for this case, so don't worry about it.

[2019-06-11 11:26] zplinuxlover opened #191 "build master branch failed"
I follow the step to generate go proto file, but it do not work, the error is following

/bin/bash build/generate_protos.sh
Echo Param /Users/gaoshunli/istio/github/go-control-plane/build/../data-plane-api
[error] unable to convert io/envoyproxy/envoy/config/filter/zhaopin/rate_limit/v1/RateLimitValidator.java to proto: template: go:2:14: executing "go" at <.InputPath>: can't evaluate field InputP

[2019-06-11 13:52] zplinuxlover commented on #191
resolve

[2019-06-11 13:52] #191 closed

[2019-06-18 22:24] sokac commented on #63
This strict check results in not being able to set zone aware routing with it. To enable zone aware routing, minimum configuration should be as follows:

`
cluster_manager:
  local_cluster_name: cluster_a
static_resources:
  clusters:
  - name: cluster_a
    type: EDS
    eds_cluster_config: ...
  - name: cluster_b
    type: EDS
    eds_cluster_config: ...
`
From: https://www.envoyproxy.io/docs/en

[2019-06-18 23:38] kyessenov commented on #63
Hi,

I'm not very versed in zone aware routing with Envoy. I can explain why the restriction exists right now.
In ADS mode, the current implementation has minimal tracking of config pushes per node. To make this happen, the implementation holds a response until the full set of resources is requested.

For example, if ADS server has {a,b,c}, and proxy requests {a,b}, the implementation does not ret

[2019-06-19 01:03] sokac commented on #63
Thanks for the explanation. I guess the problem can be reproduced by having following config:

[code]

Let's assume there are N clusters defined for such node. Envoy gets stuck waiting for ADS response as ADS refuses to send response because only one cluster is requested and not N. The patch snippet solves this particular problem, but creates a different one - hence not acceptable.

Looking into c

[2019-06-19 04:56] kyessenov commented on #63
I think it might help to provide some a-priori knowledge to the management server about static resources (e.g. cluster_a in your example). The management server can act differently for a new node, by immediately responding to the full set of static resources with a special snapshot version, and then advancing to the complete snapshot only after LDS/CDS are processed.

For example, if envoy has clu

[2019-06-28 17:36] furlongmt opened #193 "Build on master branch failing"
Hi,

When I run "make generate", I get the following error:

/bin/bash build/generate_protos.sh
${MYGOPATH}/go-control-plane/build/../bin/gogofast: program not found or is not executable
--gofast_out: protoc-gen-gogofast: Plugin failed with status code 1.

There isn't any directory /bin in go-control-plane, and maybe I've overlooked something in the build instructions, but I can't determine how th

[2019-06-28 19:45] kyessenov commented on #193
Please take a look at circleci configuration and use the provided docker image for local builds. The binary is in the docker image.

[2019-06-28 20:00] furlongmt commented on #193
I get the same error when building from within the container like so:

docker run -v $(pwd):/go-control-plane gcr.io/istio-testing/go-control-plane-ci:05-09-2019 make generate

[2019-07-04 04:13] yangminzhu commented on #193
I'm seeing the same error even with the latest image in `./circleci/config.yml`
[code]

Also see https://circleci.com/gh/envoyproxy/go-control-plane/441?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-07-08 02:04] kuangyuansheng opened #195 "make generate: Makefile:65: recipe for target 'generate' failed"
make generate
`--> vendoring protobufs
go: modules disabled inside GOPATH/src by GO111MODULE=auto; see 'go help modules'
Makefile:65: recipe for target 'generate' failed
make: *** [generate] Error 1
`
How to solve this problem

[2019-07-08 14:11] LukeShu commented on #173
Should be "fixed" (worked around) as of the addition of `make generate-patch` in e90fc65c48c6e270d72ab798e0d7c441fcc0a807

[2019-07-08 20:31] kyessenov commented on #193
The bug here is that bin/gogofast is a local binary, which is a bug.
The script should be using the system one, so changing generate_protos.sh script as in #197 should help.
However, there is another bug with using protoc-gen-validate@0.1.0 which prevents it from use. We'd need to bisect and pick a reasonable build.

[2019-07-09 01:28] #195 closed

[2019-07-17 19:02] yangminzhu commented on #193
closing, this should be fixed now. Feel free to reopen if it doesn't work for you.

[2019-07-17 19:02] #193 closed

[2019-07-18 14:56] achasveachas commented on #191
@zplinuxlover Do you mind telling us how you resolved it? We're seeing a similar issue while trying to build on Windows:

[code]

[2019-07-18 17:33] kyessenov commented on #191
Please use the fixed SHA of protoc-gen-validate as in go.mod. There's some problem with the latest version. Would appreciate if someone can fix the problem though.

[2019-08-05 03:03] zhengzepeng opened #203 "which data-plane-api version?"
When you release a new go-control-plane version，can you point out which data-plane-api version(or commited id) you used in this new version?The better idea is you make some tags in the data-plane-api

[2019-08-05 17:21] kyessenov commented on #203
The latest two releases are using cb10255. It's a git submodule in this repo.
We don't have a good semantic version for all of data plane API, so it's hard to assign semantic versions in any reasonable way to this repo If you have thoughts on this, let us know

[2019-08-12 21:11] alecholmez opened #205 "Add RBAC Envoy Filter Constant"
In `util/wellknown.go` there should be a constant for the Envoy RBAC filter

[2019-08-12 21:39] #205 closed

[2019-08-12 21:40] yangminzhu commented on #205
Opps, I didn't you already have a PR, thanks for filing the issue.

[2019-08-12 21:41] alecholmez commented on #205
No worries!  Thanks for the quick turn around

[2019-08-13 14:44] NickBOA opened #210 "When a client's fetch is skipped, the reply doesn't contain the correct HTTP status code."
As outlined in the fix [here](https://github.com/envoyproxy/envoy/pull/6948) and the documentation [here](https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview#rest-endpoints), when an `envoyproxy` client initiates a REST fetch and that fetch is skipped (due to a version match), the control plane should reply with a 304 to signal to the client that a skip occurred.

In the

[2019-08-15 23:20] qiwzhang opened #213 "Replace gogo protobuf with golang protobuf"
Certain environments can only use golang protobuf.   This repo is using gogo which blocks its adaptions in these environments.

What does it take to replace gogo proto with golang proto?

[2019-08-15 23:21] qiwzhang commented on #213
@kyessenov ?

[2019-08-15 23:50] kyessenov commented on #213
It's certainly possible. The idea was to wait for the next-generation golang/protobuf v2 which is expected before the end of the year. Presumably, that would solve our performance issues that motivated the choice of gogo/protobuf.

We don't have resources to have two forks, one for gogo and another for golang. So the change is going to be breaking, and it needs to be done with care. Since golang/p

[2019-08-15 23:55] qiwzhang commented on #213
What is the resource issue for supporting two separate servers; one for gogo and another for golang?

For a new project without compatibility issue, and can only support golang/protobuf, it can start to use golang one.   For Istio, it can stay with gogo one.

[2019-08-15 23:59] kyessenov commented on #213
If you want to help, we can create a branch for goproto here, and convert all code to use goproto there. This can stay non-default until goproto v2 lands.

[2019-08-16 00:45] nareddyt commented on #213
I can work on this. I'll fork it, fix any incompatibilities, and then make a PR to a new branch.

[2019-08-16 00:47] kyessenov commented on #213
Awesome. You can use bazel to copy generated files from Envoy submodule if you prefer. We can call the branch "goproto" once it is ready.

[2019-08-16 02:41] nareddyt commented on #213
I'm not sure if bazel building and copying would work well. Looking through the data-plane-api, some build files are missing the `api_go_proto_library` build rule to generate go protos. Perhaps all the protos that go-control-plane uses has go_proto_library rules, but I am not 100% sure.

Would you recommend using bazel, or modify the `./build/generate_protos` script instead?

[2019-08-16 02:45] kyessenov commented on #213
I'm perfectly happy with `build/generate_protos`. The situation with go_proto_library in envoy deserves its own solution, so it should not block you.

[2019-08-16 05:15] kyessenov commented on #210
Should be fixed by https://github.com/envoyproxy/go-control-plane/pull/209

[2019-08-16 05:18] kyessenov commented on #190
Unfortunately Envoy does occasionally break the generation script (since we don't use bazel).
But for 80% of time it could and _should_ be automated.

[2019-08-16 05:18] #160 closed

[2019-08-16 05:19] kyessenov commented on #173
It's really an issue in https://github.com/envoyproxy/protoc-gen-validate.
I can take a look at why it's failing for that particular proto.

[2019-08-16 12:16] #210 closed

[2019-08-19 16:43] nareddyt commented on #213
Hi Kuat,

I have most of the code converted over to use goproto instead of gogoproto. This is viewable on [my fork](https://github.com/nareddyt/go-control-plane/tree/goproto).

However, I'm having trouble with `protoc-gen-validate`. It seems like none of the validation rules are being generated (even through the `*.pb.validate.go` files are being generated). An example is [my route.pb.validate.go]

[2019-08-19 16:52] kyessenov commented on #213
I'm not sure why protoc-gen-validate fails here. Maybe try using the same pinned version that is picked in this repo? Alternatively, there's some debugging log that you could get out of protoc-gen-validate (https://github.com/envoyproxy/protoc-gen-validate/blob/master/vendor/github.com/lyft/protoc-gen-star/debug.go).

[2019-08-19 21:32] nareddyt commented on #213
Thanks for the response! Turns out it was a version issue with protoc-gen-validate. I reset protoc-gen-validate to commit `d6164de49109`, and it worked.

[2019-08-21 06:19] aclowkey opened #215 "Access log example causes CPU 100%"
Deployed to production something similar to to the example to find out that it can cause 100% CPU load.

Reproduce:
1. Run example
2. Stop envoy
3. Look at the CPU goes to 100%

**Issue**:
https://github.com/envoyproxy/go-control-plane/blob/9abdeff70b1fcebc846b2518ccb73478fa10164e/pkg/test/accesslog.go#L37-L41

**Possible Solution**:
[code]

I'm not entirely this is the right solution, but it seem

[2019-08-21 21:50] #215 closed

[2019-08-22 03:42] gnz00 opened #218 "Order of responses is not guaranteed on ADS stream"
It is impossible in the current implementation to ensure the order of responses on an ADS stream. I believe it is due to the un-ordered nature of `select` in server.go: https://github.com/envoyproxy/go-control-plane/blob/master/pkg/server/server.go#L198-L248.

Is there a known solution to this? Currently, I'm introducing an artificial delay to ensure the select sends the responses in the proper or

[2019-08-22 20:45] kyessenov commented on #218
This is mostly because of the order of requests is not guaranteed. E.g. if listeners have 5 route tables, then Envoy is going to ask for 1,2,3,4, and 5 tables in a sequence.

The plan originally was to make each snapshot transactionally consistent, wait until the entire snapshot is acked, and then make progress towards the next snapshot. This also allows safe rollouts since you can introduce a uni

[2019-08-22 20:57] gnz00 commented on #218
It was my understanding that the purpose of ADS was to allow for consistent ordering of responses:

https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#eventual-consistency-considerations

I agree that ordering should be scoped to a particular version, where version is a global version representing the underlying service discovery update, such that you can implement transactions. I h

[2019-08-26 08:34] preethi29 opened #220 "Running into "has no field or method MarshalToSizedBuffer" issue on upgrading to 0.8.6 version"
We are trying to upgrade to latest go-control-plane library and we are using dep as dependency management tool.
We face the following issues while building.
[code]
Dep installs `1.2.1` version of gogo/protobuf but `MarshalToSizedBuffer` changes are present in unreleased version(master). When we use the revision `28a6bbf47e48e0b2220b2a244750b660c83d4942` of gogo/protobuf, it works fine.

Is there a

[2019-09-03 23:39] kyessenov commented on #220
Thanks for the report. I'll try to look into this in the next version. There's no need to use unreleased version of gogoprotobuf.

[2019-09-03 23:50] kyessenov commented on #218
Incremental is still being implemented, and it's probably usable. I haven't seen a production use of incremental xDS though, so please confirm with envoy developers whether it's ok to use.

ADS is a mechanism to enable transactional config update, but it doesn't give it for free. All it does is serialize all updates on a single pipe, and it's up to the server to send config so that it can supports

[2019-09-05 23:54] kyessenov commented on #220
The culprit is istio/gogo-genproto that introduced a version bump and is pulled. We should revert that and use versioned gogo.

[2019-09-06 01:16] kyessenov commented on #213
Branch https://github.com/envoyproxy/go-control-plane/tree/v2 is ready. @nareddyt can you take a glance to see if everything is alright?

[2019-09-06 04:47] nareddyt commented on #213
I took a quick look, LGTM. I'll take a deeper look tomorrow.

As we discussed offline, we will have to create seperate imports for GRPC services. For example, `pkg/server/server.go` should have 1 import for the ADS proto and another import for the ADS services. I'll make a PR tomorrow for that.

[2019-09-06 08:28] AlexsJones opened #222 "README.md example hash unresolved type"
Within the readme the following example `hash{}` is unresolved type.

[code]

I believe this needs to be updated to `cache.IDHash{}`
`snapshotCache := cache.NewSnapshotCache(false, cache.IDHash{}, nil)`

[2019-09-06 08:36] AlexsJones commented on #222
Fix here: https://github.com/envoyproxy/go-control-plane/pull/224

[2019-09-06 13:44] preethi29 commented on #220
Thanks Kuat. Seems like new version of gogo/protobuf  1.3.0 has been
released with the required changes. We can use that one.

On Fri, 6 Sep, 2019, 05:24 Kuat, <notifications@github.com> wrote:

[2019-09-06 21:32] kyessenov commented on #213
Sure.
@mattklein123 or @lizan or any org admin - can we enable branch protection for v2 branch so we can start sending PRs there?

[2019-09-06 21:38] lizan commented on #213
I'm not org admin, @envoyproxy/admins

[2019-09-07 02:49] mattklein123 commented on #213
@kyessenov what is your plan exactly? Don't you want to auto-commit to master from Envoy CI?

[2019-09-07 04:37] kyessenov commented on #213
Yes, I do. I just want to prevent human commits to the branch. I thought that granting admin access to whoever authors the automated PRs (a bot?) to v2 branch would be sufficient.
Note that I hesitate making v2 the master since that would confuse go dependency tools. Maybe in a year when everyone uses go modules that would work.

[2019-09-07 05:14] lizan commented on #213
A random thought, can we name that branch differently? “v2” is confusing enough since we will start Envoy API v3alpha, v3 etc very soon.

[2019-09-09 03:34] kyessenov commented on #213
After thinking a bit more, I think we should just pull the plug and merge golang protobuf into master and drop "v2" from module name. This is less complicated that what I had in mind. There's just no nice way to go about it given that:
- gogo and golang protobufs are incompatible;
- gogo 1.2 and gogo 1.3 are not backwards compatible;
- golang v1 and v2 will have breaking changes but will get assis

[2019-09-09 16:10] nareddyt commented on #213
Just a few concerns with merging into master:
- Why do we plan on keeping the major version number as 0? Wouldn't this break semantic versioning and confuse our consumers?
- How will this change affect Istio? I was under the assumption that all of Istio uses gogo/proto instead of golang/proto for performance reasons. Is that something we should be worried about?

[2019-09-09 17:03] kyessenov commented on #213
Version number 0 does not follow semantic versioning. There is no promise of compatibility between minor/patch updates in v0.

Yes, but the performance requirements are not as stringent in istio as they used to be.  We're not using xDS on the data path, so the main concern is memory/cpu cost in the control plane. It's difficult to evaluate that without making the transition. Longer term, istio is

[2019-09-10 20:23] yangminzhu commented on #222
Thanks for the fix!

[2019-09-10 20:23] #222 closed

[2019-09-10 22:06] #213 closed

[2019-09-16 15:55] soheilade opened #228 "usage"
Dear All,

I am trying to register my envoy proxyis in the control plane so that my control plane can get data from my envoy proxies. Could you please elaborate what are the services that I have to register? in the readme file of the repo it is written that register new services as follows

[code]

But i am not clear what to replace here. Is there an example that shows how to make this control pla

[2019-09-16 17:05] kyessenov commented on #228
There is pkg/test/main that has a self-contained example. You need to register the services that you want to use, but ADS is usually sufficient.

[2019-09-16 20:37] soheilade commented on #228
Thanks @kyessenov , in `main.go`, where the envoy proxy is actually started? and how can i receive data from envoy proxy?

[2019-09-27 08:46] hzxuzhonghu opened #233 "The api docs is gone"
Previously, i can see the comments
https://github.com/envoyproxy/go-control-plane/blob/094d054b10176dd84506e4f0f65e7f65d8499241/envoy/api/v2/cds.pb.go#L292-L303

Now it is gone

https://github.com/envoyproxy/go-control-plane/blob/786ed9ae4b403fa2f23ad20faa19f4a5e70d15ba/envoy/api/v2/cds.pb.go#L249-L260

[2019-09-27 08:47] hzxuzhonghu commented on #233
cc @kyessenov

[2019-09-27 08:48] hzxuzhonghu commented on #233
This makes developers hard to understand the api in istio.

[2019-09-27 10:03] tonyboxes commented on #203
Can add version update changes log?

[2019-09-27 23:07] kyessenov commented on #233
https://github.com/golang/protobuf/issues/666 is the root cause. Closing since it's a problem with the tooling.

[2019-09-27 23:07] #233 closed

[2019-09-29 01:28] hzxuzhonghu commented on #233
ok, thanks

[2019-10-02 20:10] kyessenov commented on #218
Incremental xDS has finally merged into envoy, so it should be possible to push delta updates once that gets implemented here.

[2019-10-05 16:15] gnz00 commented on #218
Thanks for the update! We have our own control plane that does some
ordering of responses that we’re thinking about open sourcing. Guess it’s
time to implement Delta Discovery service too

On Wed, Oct 2, 2019 at 3:10 PM Kuat <notifications@github.com> wrote:

[2019-10-10 20:29] yskopets commented on #59
@kyessenov Hi Kuat!

May I wonder why this issue hasn't got any attention since it was opened ? Isn't it a well-known issue that is sitting there to happen ?

For the context, I've recently described the issue I'm facing on #control-plane-dev Slack:

---

I’ve run into an issue where `envoy` keeps updated `cluster` in a `warming` state for indefinite amount of time.

As far as I understand, such b

[2019-10-10 20:57] kyessenov commented on #59
You should make sure the snapshot is consistent if you use ADS mode. That means every cluster has an endpoint assignment (there is a helper function `Consistent()` to help with that).

Keep in mind, that most production xDS servers are only eventually consistent. That means they generally expect EDS server to catch up to CDS server and tolerate partially broken config in envoys (which can sometime

[2019-10-10 21:35] yskopets commented on #59
Thank you!

[2019-10-11 19:39] gster50 opened #235 "No way to order xDS responses for ADS"
Hi,

I am using xDS in ads mode and using CDS, LDS, RDS and EDS. I want to order my xDS responses so a cluster update or listener Update will be warmed every time a cluster or listener is updated.

I.e.
->CDS
->LDS
then
->EDS
->RDS

The issue is that even if you set the snapshot in the order you want, there is a race to send responses in the server thread, server.go lines 192-242. (I am calling se

[2019-10-31 22:29] jyotimahapatra opened #237 "Graceful shutdown for the streaming handlers"
We recently had a change for graceful shutdown of the control plane and used `grpc.GracefulStop()` .
`GracefulStop` sends goaway for new connections, but blocks until the current open connections are open. We need a way to add a signal in the handler https://github.com/envoyproxy/go-control-plane/blob/8e1e5558642ae54a35eca889ba37bc550e131216/pkg/server/server.go#L165 to recognize a shutdown and re

[2019-11-01 00:12] freedomljc opened #238 "Add the support for caching serialized protobuf bytes of xDS response"
Currently, go-control-plane stores the protobuf format of xDS response in the cache, and [marshals](https://github.com/envoyproxy/go-control-plane/blob/8e1e5558642ae54a35eca889ba37bc550e131216/pkg/server/server.go#L147) it when sending out to envoy.

If thousands of downstream machines watching the xDS change of one upstream service, it will marshal the same data thousands of times when sending th

[2019-11-04 19:28] kyessenov commented on #238
Sounds reasonable. We should probably keep serialized protobufs in the cache plus little metadata.

[2019-11-05 18:55] freedomljc commented on #238
@kyessenov , I just sent out the PR https://github.com/envoyproxy/go-control-plane/pull/240, and it is to allow users to marshal the resource while implementing the cache interface.
Pls let me you your thoughts.

[2019-11-11 15:37] davecheney opened #242 "Can we have a new tagged release"
Hello,

33 commits, many of them updates to the protobuf definitions have landed since 0.9.0 was released. May we have a new release please.

[2019-11-11 17:28] kyessenov commented on #242
Tagged v0.9.1

[2019-11-11 17:28] #242 closed

[2019-11-16 00:00] #238 closed

[2019-11-21 19:13] kyessenov commented on #161
Since we transitioned to standard protobufs, this is done via a setting in the serializer now. This should ensure all serializations are deterministic (minus user-provided Any).

[2019-11-21 19:13] #161 closed

[2019-11-21 19:13] kyessenov commented on #237
Fixed by the PR.

[2019-11-21 19:13] #237 closed

[2019-11-21 19:14] kyessenov commented on #220
This is a non-issue now that we switched to golang/protobuf. The official library has strict compatibility requirements.

[2019-11-21 19:14] #220 closed

[2019-11-21 19:14] kyessenov commented on #190
This was automated by a mirror script in envoyproxy.

[2019-11-21 19:14] #190 closed

[2019-11-21 19:15] kyessenov commented on #173
Seems like this is working correctly with golang/protobuf.

[2019-11-21 19:15] #173 closed

[2019-11-21 19:15] kyessenov commented on #203
The commits from the syncing bot carry envoy SHA.

[2019-11-21 19:15] #203 closed

[2019-11-21 19:17] kyessenov opened #245 "Trigger EDS push whenever CDS changes."
Unfortunately, Envoy has an inconsistency for warming clusters. If a cluster is updated, the endpoints need to be re-pushed even if they don't change, or otherwise, envoy stalls the config.

Example:
1. CDS version c1 for cluster c
2. EDS version e1 for c
3. CDS updated to version v2
4. EDS version e1 for c must be responded even without any change.

@yskopets

[2019-11-21 19:18] kyessenov commented on #182
This is now frozen to follow the standard golang/protobuf generation for golang. It is always a message for optional primitives.

[2019-11-21 19:18] #182 closed

[2019-11-21 20:01] yskopets commented on #245
@kyessenov Thank you!

That’s exactly the issue we’ve been facing.

It is consistently reproducible when a “snapshot” uses separate versioning for “clusters” and “endpoints”.

[2019-11-25 19:05] alecholmez commented on #153
I think we can close. Right @biefy ?

[2019-11-25 19:08] alecholmez commented on #126
I would note that ECS support has issues, especially with http/2 and grpc

[2019-11-25 19:11] alecholmez commented on #126
Decipher's Grey Matter actually absorbed the rotor codebase into it's control-plane. We've done extensive modification and robustification (if that's even a word 😅 ). We'd love to have the community check out our platform and we'd also love to get involved in the envoy and xDS communities! @mattklein123 @htuch

I actually attended EnvoyCon 2019 and found the xDS roadmap and UDPA quite interesting,

[2019-11-25 19:13] alecholmez commented on #87
Handing out resolved IPs in the server before they make it to the proxies is the best solution for this. It's a relatively trivial fix as well

[2019-11-25 19:15] alecholmez commented on #183
Was there a change to the snapshot you set the second time? I think if there is no change in the discovery objects, envoy won't bother applying the update

[2019-11-25 22:27] #153 closed

[2019-11-25 22:55] htuch commented on #126
@alecholmez I suggest joining the next Envoy community call or the Envoy Slack (#xds). You can find details of both at https://github.com/envoyproxy/envoy. Happy to chat more about opportunities to be involved with xDS work.

[2019-11-26 01:14] alecholmez commented on #126
@htuch Awesome! Would love to join and chat about some opportunities. @cstrahan I think would like to get involved too

[2019-12-02 18:26] lita commented on #238
@freedomljc is it possible to just store marshall responses in the cache vs storing both?

[2019-12-03 19:07] freedomljc commented on #238
@lita , from the implementation of go-control-plane, the caching logic is optional, and the built-in caching logic is for the the entry-level usage. We only need to update the interface `CreateWatch` and `Fetch`, and there exist some discussions around it: https://github.com/envoyproxy/go-control-plane/pull/240#discussion_r343329534. pls let me know if your have further questions.

[2019-12-05 02:29] kathan24 opened #246 "Should there be a GetSnapshotKeys just like GetStatusKeys for Cache?"
Just like [GetStatusKeys](https://github.com/envoyproxy/go-control-plane/blob/52b167a709f111e6298136064bbaae43419ab22f/pkg/cache/simple.go#L313), wondering if `GetSnapshotKeys` is not implemented for a reason or because there was no need (until now)?

[2019-12-05 19:58] cudneys opened #247 "Build Troubles: cannot find module providing package github.com/cncf/udpa/go/udpa/api/annotations"
Folks,

I'm unable to build the control plane software due to the following error:

I feel as though I've researched this to death, and I've only run into dead ends.  I'm not sure where to go with this, and I'm not sure if this is a legitimate defect or the result of a lack of knowledge on my part.  Any guidance/assistance/direction on this is greatly appreciated.

I couldn't find anything on Goog

[2019-12-05 22:02] kyessenov commented on #247
Oh, thanks for heads up!
The generated code is auto-pushed from Envoy, which appears to have been broken about 3 days ago.. Unfortunately, Envoy uses bazel to build go, so it does not operate like the rest of the go world, and it doesn't always detect the same build problems.
Let me take a look why this is happening.

[2019-12-06 23:13] #247 closed

[2019-12-06 23:22] kyessenov commented on #247
Hold while the fix travels through envoyproxy/envoy repo.

[2019-12-06 23:52] kyessenov commented on #246
There was no need yet.

[2019-12-09 17:29] alecholmez opened #248 "Log Level Overloading"
As of now the logging interface for go-control-plane only exposes `Error` and `Info`. I've seen a few cases where that isn't enough or a user might want more control of the logging level.

For us specifically we had to overload the Info level to quiet down xDS when we needed too:
[code]

I propose to add a `Debug` and `Warn` level into the interface and also add some logging throughout the project

[2019-12-09 21:46] kyessenov commented on #248
Sure. Sounds reasonable. I haven't looked into the state of go logging lately, but it would preferrable to just use some standard logger interface.

[2019-12-10 05:16] alecholmez commented on #248
We've integrated https://github.com/rs/zerolog throughout Grey Matter's control plane and it really serves us well and is fast, I wouldn't be opposed to integrating this into go-control-plane, a structured logger would be a nice addition as well.

[2019-12-10 21:01] kyessenov commented on #248
Let's not introduce a dependency on rs/zerolog. Some projects are very opinionated about logging, so we don't need to cause a conflict in the library choice. It's quite unfortunate that there is no standard logger interface, but it seems reasonable to define and use the interface above.

[2019-12-12 02:53] budanm opened #249 "Dynamic secrets are getting stuck at warming state"
**Description**

When we add additional secrets to snapshot cache than what is referred from the listener/cluster TLS contexts, secrets config in envoy gets stuck into warming state.

Looking in control plane [code](https://github.com/envoyproxy/go-control-plane/blob/master/pkg/cache/simple.go#L236),  we see that in case of extra resources than asked for, in ads mode, control plane doesn't send an

[2019-12-13 23:39] kyessenov commented on #249
ADS mode is just a way to ensure consistency. If you send a partial subset and get a confirmation, then you have to follow-up with the full set to fully push the set. What ADS does is to hold on responding until the whole set of requested. The set of resources that Envoy asks for is eventually consistent, so it takes time for the request to come.

You don't have to use ADS for everything. You can

[2019-12-16 03:19] budanm commented on #249
Ok , but in this case I am not sending a partial subset , rather I am sending an additional entry in the set .My expectation is that additional entry should be ignored and it should not get stuck at warming state

[2019-12-16 22:29] #248 closed

[2019-12-17 01:17] kyessenov commented on #249
Not sure I'm following. Can you list a sequence of request/response pairs in xDS?

[2019-12-17 19:06] alecholmez opened #251 "Implement Delta xDS"
I figured I could take this but I'd like to implement the Delta xDS functions in the server. I understand this will require different logic and a new subscribing mechanism, is there anything else I should be aware of @kyessenov ? Any input would be helpful here

[2019-12-17 22:58] kyessenov commented on #251
SG. Please make sure not to break existing non-incremental xDS, and keep in mind there's some churn in envoy with the refactors of incremental xDS subscription mechanism.

[2019-12-18 02:00] alecholmez commented on #251
@kyessenov sounds good, do you have any resources I could see involving the refactors? I haven't seen anything so far.

But will do I intended on keeping them decently compartmentalized so they didn't interfere with each other

[2019-12-19 17:36] mattklein123 commented on #251
cc @lita can you loop in the various Lyft folks that might be interested in following along here?

[2019-12-19 18:33] lita commented on #251
@freedomljc @jyotimahapatra

[2019-12-19 18:36] lita commented on #251
And @jsnoop36

[2019-12-19 18:38] lita commented on #251
@tomwans @jyotimahapatra

@alecholmez are you providing a spec on how you will implement this? I'm particularly interested in how you will be creating the subscribing mechanism.

[2019-12-19 21:39] justincely commented on #251
@lita we've got some initial specs done up for this which we're planning to go over early next week.  The holidays are coming up, so things might be slowed down a bit, but we'll get something out here for discussion soon so you and others can be involved and help us nail it down.

[2019-12-19 22:24] lita commented on #251
Sounds great! Looking forward to reading it after the holidays!

[2019-12-20 03:33] budanm opened #253 "[Query] : Consistency check does not cover secrets"
Hi

The issue is more of a query. As per the implementation of the snapshot Consistent [method](https://github.com/envoyproxy/go-control-plane/blob/ea341cfe14515bb0a8eeedaa857b8a546dc0d0c8/pkg/cache/snapshot.go#L79), it seems we do not allow any orphan/ unreferenced route configs and we also do not allow any orphan endpoints, which is fair.

However, we do not perform such checks for secrets. Now

[2019-12-23 20:16] jaricftw commented on #165
Looks like this has been resolved now, both configs are supported

[2019-12-23 20:16] #165 closed

[2019-12-26 19:17] kyessenov commented on #253
I think we didn't update the consistency check to compute all referenced secrets.
Secrets are a relatively new feature in xDS.

[2019-12-29 01:30] budanm commented on #253
Are you guys planning to introduce secrets as well as part of the consistency check ?

[2019-12-30 11:25] amukherj1 commented on #57
@kyessenov Ideally this should also have UDS support - it has lower configuration overhead.

[2020-01-02 20:47] alecholmez commented on #251
Hi all, just wanted to provide a status update, here is a current work in progress for our proposal on the incremental xDS implementation:

https://gist.github.com/alecholmez/fa34dbe94b278defb9c2e46b40acb044#motivation

Would love feedback as well as participation from everyone! I have bullet points for things I haven't full thought out yet so wherever you see a dot just make note I haven't design

[2020-01-06 03:44] budanm opened #254 "[Query]: Human readability of envoy proxy errors"
I have set up a simple envoy [ads](https://github.com/budanm/Envoy-ADS-Server-Sample) to simulate the possible error scenarios which can occur in any of the components of the snapshot. There is a simple xds callback implementation associated with it which basically handles and monitors the request-response cycle of envoy and also logs the errors if any.

To simulate one simple error, I changed the

[2020-01-06 20:51] kyessenov commented on #254
The errors are generated within Envoy. I think the errors are usually 1) standardized validation errors from protoc-gen-validate 2) internal exception thrown by envoy code. It might be worth bringing this to envoy proxy git to get some clarity on error organization.

[2020-01-07 07:42] hanfubin opened #256 "Remove a loaded listener"
How to dynamically delete(or update) a listener(or route) after it is successfully loaded by go-control-plane in envoy

[2020-01-09 08:48] budanm opened #257 "Consistency check fails for an envoy which has only RDS and CDS"
Hi

I have an envoy proxy (ADS) which is having a static listener and it is using Route Discovery Service to discover routes and Cluster Discovery Service for discovering clusters that are referred to by the routes.

However, prior to setting a snapshot for the node, I want to do a consistency check snapshot.Consistent(). But the consistency check fails continuously.

The reason I figured out is w

[2020-01-10 03:01] cdimascio opened #258 "websocket upgrade via xDS grpc does not work"
*Title*: *websocket upgrade via xDS grpc does not work*

Note that I filed the same bug to [envoy](https://github.com/envoyproxy/envoy/issues/9646) - apologies for the dupe

*Versions*

Envoy version:
[code]
go-control-plane version:
`github.com/envoyproxy/go-control-plane v0.9.1`

Operating system: Mac

*Description*:

`upgrade_configs: websocket` is not honored when provided via the xDS grpc API

[2020-01-10 03:26] cdimascio commented on #258
this is fixed in github.com/envoyproxy/go-control-plane v0.9.2

[2020-01-10 03:26] #258 closed

[2020-01-10 18:35] alecholmez commented on #251
@lita I've added quite a bit more to the proposal, would love to have you review again. A lot of the code snippets aren't accurate yet for the subscription section as they're just placeholders right now. But the logic would look similar.

As for the failure scenarios, from my understanding it seems incremental xDS is rather failure tolerant. I could be misunderstanding a few things but would love

[2020-01-12 00:55] mattklein123 commented on #251
@alecholmez is it possible for you to move the design doc into a google doc? It's much easier for everyone to comment on, etc. Thank you.

[2020-01-13 16:31] alecholmez commented on #251
@mattklein123 sure thing, here's the l ink to the google doc I've moved everything over.

https://docs.google.com/document/d/1BCooMLuiMgWxyyQPci0j7e1KnXZqh2RtgtFYCJ5HQZU/edit?usp=sharing

Let me know if you guys don't have the ability to edit the doc.

[2020-01-17 18:34] alecholmez commented on #251
I'm going to go ahead and start on some implementation I think that'll help me flesh this out even more. Can definitely adjust the logic as the proposal gets more eyes on it. Thanks for everyones thoughts and suggestions!

[2020-01-21 22:45] guanw opened #259 "Example on setting `Any.Value` for DiscoveryResponse.Resources"
Hi, curious if there's any example on how to create Resources with type `any.Any`?

In its documentation examples like
[code]

were given but in reality the data envoy is looking for seems to be more nested&complicated.
e.g if I want to manually create a response with type: `type.googleapis.com/envoy.api.v2.ClusterLoadAssignment`

I'm assuming for this you need to
[code]
Is this correct? I think i

[2020-01-22 18:31] cstrahan commented on #259
Regarding `Any`, I think you're looking for this:

[code]

See https://godoc.org/github.com/golang/protobuf/ptypes#MarshalAny

[2020-01-22 18:32] alecholmez commented on #256
@hanfubin To achieve this you would need some sort of API on top of your go-control-plane server that would be able to make the change.

go-control-plane is simply a shuttle for configuration to Envoy's. So if it broadcasted listeners out to your nodes, then the only way to modify that configuration would be to do it inside of the go-control-plane snapshot. Many people have built APIs on top of th

[2020-01-23 16:54] alecholmez commented on #259
@guanw for your second part about the message assignment, that is correct, if you don't in `server/server.go` there's a little piece of logic:
[code]

For your third question, I wouldn't recommend that. `snapshotCache` is just the underlying resource layer for the Envoy discovery services which live in the `Server` interface that you mention. So if you actually want Envoy to be able to utilize tha

[2020-01-23 18:09] alecholmez commented on #257
I think that is intentional, static resources don't make it back into the management server (your snapshot cache). So to fix this you will need to dynamically define those listeners. If you're using ADS I don't think you can utilize individual discovery mechanisms it's either all or none. What I would recommend you do is dump ADS, which is only needed for resource multiplexing or synchronization,

[2020-01-23 18:38] guanw commented on #259
@alecholmez hmmm. I guess I'm a bit confused at this point as to what role does go-control-plane plays here.( I guess partially because a lot of envoy and go-control-plane doc have invalid link references)

I started experimenting with envoy with [this](https://github.com/salrashid123/envoy_discovery)
and long story short the repo above runs a server that implements EDS query API and its logic to

[2020-01-23 18:38] alecholmez commented on #251
How does one actually tell Envoy to use incremental xDS in it's config? Is there a new option to define when you specify the `xds_cluster` and dynamic resource blocks in the bootstrap config? I don't see anything in the docs

[2020-01-23 18:51] alecholmez commented on #259
@guanw so at least from my understanding, go-control-plane is simply just a functional implementation of the xDS protocols. I personally think the term "service discovery" is a bit overloaded at times.

Out of the box, go control plane will add instances when it detects them into the envoy configurations that it broadcasts out over it's streams. So if you were to implement something that had the a

[2020-01-24 00:42] guanw commented on #259
@alecholmez Thank you for the detailed explanation. I just checked out the integration test and it looks promising.  I will use it as a starting point to build out my eds cluster dynamically.

 One other thing I notice is that `./build/run_docker.sh make integration` seems to fail with following error locally.
![image](https://user-images.githubusercontent.com/7311035/73027502-8ece5e00-3e01-11ea-8

[2020-01-24 19:47] jyotimahapatra commented on #251
I guess specifying [delta_grpc](https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/core/config_source.proto#L62) will enable.

[2020-01-24 22:16] alecholmez commented on #259
@guanw sure thing glad I could help.

Hmm I'll have to give that a look. A full log file would be helpful I'll see if I can replicate the problem

[2020-01-26 06:41] pravin-singhal commented on #87
I have been using LOGICAL_DNS with envoy container starting with --dns, run dnsmasq at at the IP which can route to different DNS servers based on domains

[2020-01-27 16:56] alecholmez commented on #259
@guanw I was able to recreate the issue, I'll look into it I have a feeling the script is just not up to date.

[2020-01-27 19:35] alecholmez commented on #259
According to the log it seems like it can't find the binary:
[code]

I'll dig further into this. Should have a PR with a fix soon. Thanks for the catch on that

[2020-01-27 19:39] kyessenov commented on #259
The test relies on a compiled envoy to verify some xDS use cases (for now that's the best approximation an xDS client). You can override the location of the binary with ENVOY variable.

[2020-01-27 19:40] guanw commented on #259
@alecholmez thanks for confirming. Glad I helped.

[2020-01-27 19:40] alecholmez commented on #259
@kyessenov thanks for the info. Will do

[2020-02-10 21:32] #246 closed

[2020-02-26 03:27] maplebeats opened #263 "where is the pb build script?"
We developed some plugins for envoy, I want to compile there pbs config to golang.So I want to refer to the project's compile script, But I can't found any build scripts anymore.I see the pbs update by go-control-plane(CircleCI) , but I can't found the ci config.
Does anyone know where it is ?

[2020-02-26 05:10] kyessenov commented on #263
The tool lives in envoy itself https://github.com/envoyproxy/envoy/blob/master/tools/api/generate_go_protobuf.py

[2020-02-26 08:03] maplebeats commented on #263
thanks

[2020-02-26 08:03] #263 closed

[2020-02-28 01:11] jyotimahapatra opened #264 "Add support for v3 apis"
At Lyft, we are moving a lot of configs into v3. I was wondering if the presence of v3 in server.go is only a matter of implementing it? If so, are there any obvious traps while implementing?

[2020-02-28 02:59] kyessenov commented on #264
There shouldn't any problem I think. Envoy internally convers v2->v3 anyways, so it's more efficient to send v3 nowadays. I think doing a pass and changing all the protos to use v3 would work.

[2020-02-28 21:10] jyotimahapatra commented on #264
I think at some point this year, all new fields will only be added to v3. So it perhaps makes sense to add v3 support. However, it has to be live in parallel with v2, since v2 will still be supported till v4 comes out. Does that sound correct?

[2020-02-28 21:16] kyessenov commented on #264
Right now, all changes to v3 require a corresponding change to v2 I think in envoy repo.
I really don't want to maintain two different versions for v2 and v3. I would prefer to wait for Envoy 1.13 to become wide spread and then make the conversion.

[2020-02-28 21:30] jyotimahapatra commented on #264
That makes sense. However, I was wondering how to make the migration from v2 to v3 easy for us. We are using the gcp for handling DiscoveryRequest/Response. Say we want to migrate just the eds to v3 and then cds/rds/lds/rtds and so forth in phases, i don't think it is possible without having v2 and v3 living in parallel.
Do you think it's worth thinking about this situation? Do you think other use

[2020-02-28 21:30] kyessenov commented on #264
It's certainly worth thinking about it. I think it's going to become significantly more important for v3->v4 migration.

[2020-02-28 23:55] mattklein123 commented on #264
Per my comment in slack I think we need to figure out dual support for v2 -> v3, so let's put some thought into it now? I think our options are really some type of automated conversion or some type of copying. Can we investigate and then discuss?

[2020-02-29 14:21] smwyzi opened #267 "how did the proto.go files been generated?"
hi,
how did the proto.go files in envoyproxy/go-control-plane/envoy folder been generated?

[2020-03-02 09:43] bcba25 opened #268 "PLEASE CHECK"
This issue is addressed to the core developers and creators of the envoy proxy. I've been using your software for quite awhile and my honest feedback is very positive, despite the fact that there is LACK of documentation and tutorials related to your products. I've been searching for video courses, articles etc but in fact found only a brief information on how to setup and configure your products.

[2020-03-03 23:17] kyessenov commented on #268
Thanks, we do recognize that the documentation is important but we don't have capacity to do all of it ourselves. Please contribute!

[2020-03-03 23:18] kyessenov commented on #267
Protos are mirrored from envoyproxy/envoy using a script there: https://github.com/envoyproxy/envoy/blob/master/tools/api/generate_go_protobuf.py

[2020-03-03 23:18] #267 closed

[2020-03-04 04:27] bcba25 commented on #268
@kyessenov I would definitely contribute and even write the tutorials for somebody but the issue is I can do that because I can't setup it myself )) Hope you guys can setup a basic but detailed guides on that.

[2020-03-04 05:29] ahmelsayed opened #269 "What happens if Node in both the request and stream is empty"
If my understanding is correct, each node may only set the `Node` property on the `DiscoveryRequest` on the first request only if the flag for that is specified. The server maintains a node object per stream
https://github.com/envoyproxy/go-control-plane/blob/191b9e3a0a2405bbc564991eab83e4e87b1a005c/pkg/server/server.go#L217-L218

And, as the comment puts it, it delta-compresses that property on t

[2020-03-13 01:02] gnossen opened #271 "Support for Go 1.11 with GO111MODULES=on"
It seems that https://github.com/envoyproxy/go-control-plane/pull/179 introduced a hard dependency on Go 1.12. While 1.11 is no longer supported by the core language team, it is still critical for environments like appengine, where it is still supported. I ran into this problem while trying to compile [`grpcurl` with Go 1.11](https://travis-ci.org/github/fullstorydev/grpcurl/jobs/661748053?utm_med

[2020-03-16 18:30] #271 closed

[2020-04-03 17:59] eapolinario opened #288 "Move CI from circleci to Azure pipelines"
By moving to azure pipelines we can leverage [envoy's dockerhub account](https://hub.docker.com/u/envoyproxy) as a repository of `go-control-plane` docker images.

[2020-04-09 16:00] banks commented on #251
Hi @alecholmez I'm really interested in your progress here. I've read through the Doc but it looks like there was still some uncertainty about what Envoy's behaviour was there.

It now seems like Envoy's implementation is complete but I can't find any concrete docs on details of that - e.g. does Envoy already support on-demand loading of Endpoints when a request for a cluster comes in?

Is this st

[2020-04-09 18:31] alecholmez commented on #251
@banks sorry for being in the dark about this! I have a fork of go-control-plane where all my progress is.

Here is the link: https://github.com/alecholmez/go-control-plane/tree/incremental

Would love to have your help on this if you're willing! I can certainly add you as a contributor as well to my fork.

Envoy does support that feature now when we enable the delta xDS feature, so once we can fi

[2020-04-10 03:44] alecholmez commented on #251
@banks I forgot to mention earlier I'm in the envoy slack, feel free to DM me or give me a shoutout in any of the control plane or xDS channels. Also would be available to chat over hangouts or something anytime!

[2020-04-14 13:17] banks commented on #251
@alecholmez thanks for the info! I'll check out your fork.

I'm currently researching ahead of our roadmap for future stuff so not sure if I or another team member will have a lot of time to dedicate to helping out immediately but if I can get a PoC working I think this would be a big win for our product to support this and will let you know if I hit any issues with your fork in the process!

Than

[2020-04-23 18:24] alecholmez commented on #254
@budanm Might want to move this issue to the https://github.com/envoyproxy/envoy repo, these errors come from the envoy proxy itself as @kyessenov mentioned, not the control-plane.

[2020-04-23 18:49] alecholmez commented on #251
Hi all, I've brought in the v3 changes into my fork and have the project successfully building again. Server unit tests are passing for incremental xDS, and I'm currently working on adding them for the snapshot cache. All my changes were targeted for v2 so I will continue my work, and when the support is fully functional, I will port the changes to v3. Currently the server is communicating with en

[2020-04-24 14:42] wicharypawel commented on #268
@bcba25 I have the same feeling. Moreover, I came from .NET world which makes it double hard. People like me have to hoop over language barrier, tooling issues, xDS related knowledge and last but not least figure out how on earth make this work.

Just a brief summary:
- It took me a few hours to setup Istio Pilot (alternative control plane).
- It took me 2 days to setup java-control-plane (because

[2020-04-26 23:05] jpeach opened #293 "Wellknown filter names are deprecated"
[code]

Any program using the `wellknown` package constants for filter names will run into the problem that these filter names are deprecated in Envoy. However, just changing to the new names seems hard because the API might be used by programs that server older versions of Envoy that don't support the new names.

[2020-04-30 02:34] stevesloka opened #296 "xdsv3 integration test failing"
When running the integration tests, the xdsv3 tests are failing:

[code]

[2020-05-07 12:12] vital-dhaveloose opened #298 "Add option to print áll fields to match grpc-gateway"
Hi,

the [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway) has an option called EmitDefaults that allows us to include JSON fields that have a default value. This includes non-primitive fields, namely arrays and objects.

Your option always_print_primitive_fields on the other hand is limited to primitive fields. Empty child objects are never included in the response.

This means that

[2020-05-11 11:43] fxl0206 commented on #249
same  question ，"You can point SDS to another server that just always responds with secrets."    ？  it mean that user must  start  another xds server.  is it Reasonable?

[2020-05-13 19:39] phylake commented on #251
@alecholmez is support fully functional yet? I checked out your fork but wondering if there's enough to start building on

[2020-05-14 18:52] jessicayuen opened #299 "Support passthrough of Envoy DiscoveryResponses"
In [xds-relay](https://github.com/envoyproxy/xds-relay), we have a use case of relaying DiscoveryResponses received upstream directly to the downstream Envoy clients.

We're utilizing go-control-plane's `CreateWatch` functionality to achieve this passthrough. A problem exists where the returned Discovery Response upstream already contains the marshaled resources. `CreateWatch` expects the response

[2020-05-14 18:53] jessicayuen commented on #299
cc @kyessenov - I plan to open a PR to support this. Please let me know your thoughts.

[2020-05-14 22:06] alecholmez commented on #251
@phylake support is not functional yet, myself and friend have been working hard at this the past few weeks and we have made significant progress but have made a few realizations in the process. The fork is being updated and it'd be great if you'd check out the tests as we are focused on those currently. Would appreciate any help if you have the time! Thanks for checking out the fork 👍 , as soon a

[2020-05-15 16:44] jessicayuen commented on #299
Been thinking of ways we can approach this with pros/cons to each. Let me know your thoughts @jyotimahapatra @kyessenov

1. Adding a new server and interface `PassthroughWatcher`, which contains a single contract `CreateWatch(Request) (value chan discovery.DiscoveryResponse, cancel func())`
- The existing server implementation is tightly coupled with the gcp Cache. This would allow us to add new s

[2020-05-15 16:57] jyotima commented on #299
I'm somewhat leaning towards approach 3. The marshaledResources today is somewhat complicated and requires the user to perform the marshal(We perform that in EnvoyManager). If we could hide the logic behind a setting and let the server perform and populate marshaledReources, it should take care of hiding the complexity and inherent redundancy.

[2020-05-15 16:57] jyotimahapatra commented on #299
I'm somewhat leaning towards approach 3. The marshaledResources today is somewhat complicated and requires the user to perform the marshal(We perform that in EnvoyManager). If we could hide the logic behind a setting and let the server perform and populate marshaledReources, it should take care of hiding the complexity and inherent redundancy.

[2020-05-15 17:23] eapolinario commented on #299
A few things to consider in approach 3:
-  marshaledResources is a relatively new one (it happened [~6 months ago](https://github.com/envoyproxy/go-control-plane/pull/240/)). That means that not many clients should be using it. I know it's hard to gauge users in the wild, but we can alleviate this by having a big bold message in the release notes.
- can we run a quick test to show how big of a per

[2020-05-15 18:40] jessicayuen commented on #299
I think that approach 1 may be the longer term solution if we want better flexibility around the interface definitions. Approach 3 makes sense for the interim. I will go with that implementation to unblock ourselves.

If we change it to type `any.Any`, the user would have to do more marshaling actually, because they'd have to first convert resources to type `[]byte` and then apply the `any.Any` wr

[2020-05-15 18:44] jyotimahapatra commented on #299
We need to re-purpose MarshaledResources such that the extra logic of conversion is not the user's responsibility. The conversion should happen automatically based on a setting/flag.

[2020-05-15 18:46] jessicayuen commented on #299
To make sure I understand correctly, what are the users passing to the Response struct in that scenario?

[2020-05-15 19:03] jyotimahapatra commented on #299
Some more elaborate thinking:
1. The responsibility of putting the `resp.ResourceMarshaled` and `resp.MarshaledResources` should not be user's responsibility. It should be a default mechanism and should happen by default after the resource is [marshalled](https://github.com/envoyproxy/go-control-plane/blob/v0.9.5/pkg/server/v2/server.go#L165). We can make the fields unexported and the field need n

[2020-05-15 19:54] jessicayuen commented on #299
I completely agree that those resources can be abstracted away and shouldn't be a responsibility for the end user to manage cache layers. There's definitely optimizations that can be done here. It's a tangent area of work though, and doesn't support the use case xds-relay requires, which is a passthrough of the finalized marshaled DiscoveryResponse to the GCP server.

Ultimately we need a way to p

[2020-05-15 20:00] jyotimahapatra commented on #299
I think the concept of whether a resource is passthrough or not is more granular than the whole server. Imagine a usecase in the future where xds relay is used directly via admin endpoint or pluggable transformations to serve cds and upstream origin server to serve eds. That scenario will need xds relay to be aware of both mechanisms. Starting 2 servers to manage different scenarios will be an ove

[2020-05-15 20:04] jessicayuen commented on #299
I don't think we'd need two servers in that scenario. xds-relay would only ever use the new server. The transformations would happen at the xds-relay later, and any conversions to the final DiscoveryResponse would occur in xds-relay (rather than gcp). Something that needs greater design though.

How about we go with approach 3 for now? Just converting the marshaledResources from type `[]byte` to `

[2020-05-15 20:16] jyotimahapatra commented on #299
Yeah let's go with that for now, but would you be ok with making the change like this https://github.com/envoyproxy/go-control-plane/pull/300/files to make sure we remove the user's responsibility of creating marshalled resource.

[2020-05-15 21:19] jessicayuen commented on #299
That looks reasonable @jyotimahapatra, although if we're going with a different `PassthroughResponse` struct, I wonder whether we should just store the `DiscoveryResponse` rather than type `any.Any`.

[2020-05-15 21:24] jessicayuen commented on #299
Also since you already have the PR, I'm fine with you taking it out of experimental mode and just iterating on that. Let me know.

[2020-05-15 21:30] jyotimahapatra commented on #299
Sounds good. I think I can quickly write the tests and put it out for review

[2020-05-21 06:58] #142 closed

[2020-05-24 02:00] lolin9 opened #301 "is API v3 actually supported?"
Since v3 packages have been added, I actually spent a couple of days trying to migrate my code to v3. But now all I am seeing in envoy instances (v1.14 btw) logs things like

[code]

even though I already added `transport_api_version: V3` to my `ads_config`, `lds_config`, etc...

It seems that the envoy instances are still trying to connect to my xds gRPC service vi API v2 and not v3.

[2020-05-25 22:03] mattklein123 commented on #301
See https://www.envoyproxy.io/docs/envoy/latest/faq/api/envoy_v3. I think you need to configure your resource version.

[2020-05-28 02:53] jpeach opened #302 "Setting the snapshot in the cache should hash the node ID"
`(*snapshotCache) SetSnapshot()` takes a node ID parameter but doesn't hash it before indexing the snapshots map. This means that if you bring your own NodeHash implementation, the cache won't find entries consistently.

[2020-05-28 02:53] jpeach commented on #302
/cc @stevesloka

[2020-05-28 02:58] jpeach commented on #302
Hmm, this is consistent across `GetStatusInfo` and `GetSnapshot`. Seems inconsistent and surprising that the caller has to pass the hashed node ID into these functions, but the node ID used in `CreateWatch` and `Fetch` is internally hashed.

[2020-05-28 21:27] mattklein123 commented on #302
cc @jessicayuen @jyotimahapatra can you take a look?

[2020-06-01 16:13] alecholmez commented on #251
Hi all, just wanted to provide a status update: I have finally gotten all my local tests passing for the new incremental logic. I'm beginning testing with Envoy but will soon open a PR against this repo and will make changes according to everyones reviews. I have yet to go back and make performance modifications, as I planned that to be the second phase of this effort. Thanks for all the interest!

[2020-06-01 19:30] lita opened #303 "Have the ability to have different TypeUrl from Discovery Request vs Discovery Response"
Currently, go-control-plane doesn't provide a way for us to send v3 configuration through the v2 protocol, as supported by envoy for a migration.

For Fetch, [it always sets the DiscoveryRequest TypeUrl](https://github.com/envoyproxy/go-control-plane/blob/bd7e4474d763c1ba0b91757b3ff069d72f211fed/pkg/server/v2/server.go#L429).

For Streaming, it always uses the[ v2 resources when using the v2/cache

[2020-06-01 19:37] jyotimahapatra commented on #303
I don't think envoy accepts v3 response in return for a v2 request, based on the observation [here](https://github.com/envoyproxy/envoy/issues/10776#issuecomment-615356172).

[2020-06-01 19:48] lita commented on #303
After talking with @jessicayuen, it looks like the [Passthrough struct takes the raw discovery proto](https://github.com/envoyproxy/go-control-plane/pull/300/files#diff-559e68cd870b75c9dbc9c282d7592466R87).

[2020-06-01 19:50] lita commented on #303
@jyotima I believe Envoy added code to do the v2 -> v3 conversion since the last time you did that test.

[2020-06-01 19:52] jyotimahapatra commented on #303
@lita That's possible, but i saw that the issue is still open and not linked to any PR. Worth retesting it again to check if this is solved.

[2020-06-01 19:57] jyotimahapatra commented on #303
In order to perform migration, go-control-plane enables registering the v3 endpoint. Although the cache management will require more code until https://github.com/envoyproxy/envoy/issues/10776 is done.

[2020-06-01 20:01] lita commented on #303
I think fully mixed is not supported. But sending v3 resources over v2 transport is supported.

https://github.com/envoyproxy/envoy/issues/10776#issuecomment-621220211

https://www.envoyproxy.io/docs/envoy/latest/faq/api/envoy_v3

[2020-06-01 20:28] jyotima commented on #303
That is true. The grpc endpoints are chosen based on [type_url](https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_impl.cc#L61) , based on [resource_api_version](https://github.com/envoyproxy/envoy/blob/master/source/common/config/type_to_endpoint.cc#L30-L46) .
The transport_api_version is only really used [here](https://github.com/envoyproxy/envoy/blob/master/source/com

[2020-06-01 20:28] jyotimahapatra commented on #303
That is true. The grpc endpoints are chosen based on [type_url](https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_mux_impl.cc#L61) , based on [resource_api_version](https://github.com/envoyproxy/envoy/blob/master/source/common/config/type_to_endpoint.cc#L30-L46) .
The transport_api_version is only really used [here](https://github.com/envoyproxy/envoy/blob/master/source/com

[2020-06-02 18:42] jessicayuen commented on #299
Implemented in #300

[2020-06-02 18:42] #299 closed

[2020-06-02 22:48] jyotimahapatra commented on #302
@jpeach i see your point. Here's few of my observations:
1. The hashing function used in `SnapshotCache.CreateWatch` is provided by the user [here](https://github.com/envoyproxy/go-control-plane/blob/master/pkg/cache/v2/simple.go#L101).
2. The hashing function is only applicable in `CreateWatch` because the `DiscoveryRequest` is only available in the context of a xDS request. `SetSnapshot` and oth

[2020-06-02 23:08] jpeach commented on #302
@jyotimahapatra This would make the interface unambiguous, though it is not source compatible:

[code]

[2020-06-13 04:12] jpeach opened #309 "Add ScopedRoutesDiscoveryService support"
Looks like there's no support for ScopedRoutesDiscoveryService.

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/dynamic_configuration.html#srds

[2020-06-13 04:13] jpeach opened #310 "Add VirtualHostDiscoveryService support"
Looks like there's no support for VirtualHostDiscoveryService.

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/dynamic_configuration.html#vhds

[2020-06-17 19:15] JesseObrien opened #313 "Master Branch Failed State?"
The master branch on this repo being in a failed build state is causing problems in uber's prototool. https://github.com/uber/prototool/issues/562

Is there anything I can do to help correct the failed build?

[2020-06-17 19:15] JesseObrien commented on #313
I see there's https://github.com/envoyproxy/go-control-plane/pull/312 to address it.

[2020-06-18 19:25] stevesloka commented on #57
hey @kyessenov do you have an idea of what else work needs to be completed to get SDS working? I'm happy to jump in and help out with this.

[2020-06-18 20:40] JesseObrien commented on #313
This is happening again today because of e2103857d09deb84008e73de3e4ce1bd87775590

[2020-06-18 21:36] kyessenov commented on #313
Fix is in https://github.com/envoyproxy/envoy/pull/11627

[2020-06-18 23:04] kyessenov commented on #313
Should be fixed now.

[2020-06-19 19:51] #313 closed

[2020-06-24 15:45] alecholmez opened #317 "Add CONTRIBUTING.md"
I think it would be rather beneficial to have a CONTRIBUTING guide for this repo so we can standardize on some things

[2020-06-24 16:22] stevesloka commented on #296
Running against `master` these tests no longer fail, so I'll just close this. =)

[2020-06-24 16:22] #296 closed

[2020-06-24 16:26] stevesloka commented on #228
@soheilade did you get your example running? Happy to help out if you have questions.

I think your second question might be out of scope for this repo and might be better asked in an istio repo.

[2020-06-24 16:27] stevesloka commented on #183
I think @alecholmez is correct, there should be a log if you pass a different snapshotid but with the same objects, the update is rejected.

[2020-06-25 23:03] alecholmez commented on #251
Hi all, just opened the WIP PR for incremental! The integration test is functional with some odd behavior in a special case, and the unit tests are intermittently failing but I'm currently investigating that

[2020-06-29 11:56] tessykt commented on #57
hello! any news on when this change is going to be merged?
Thank you in advance!

[2020-07-13 20:17] kyessenov opened #323 "Add opaque resources for xDS server"
We should allow xDS resources with unknown types in the server. This is needed to support future xDS resource types (and solves the two phase commit problem with adding new xDSes). Fixes #310 as well. cc @rshriram

[2020-07-16 17:28] jmcnevin opened #325 "Example of nested JSON access log structures?"
I have been trying to figure out if it's possible to create nested JSON file access log structures using 0.9.6 and non-deprecated protobuf types.

Currently, these types are marked as deprecated:

* `FileAccessLog_TypedJsonFormat`
* `FileAccessLog_JsonFormat`

That leaves only `FileAccessLog_LogFormat`, and the `v3.SubstitutionFormatString` formatter.  Unfortunately, trying to use nested structpb.

[2020-07-21 18:24] shivam009 opened #328 "How to use the go control plane"
I am trying to use the go control plane with Envoy, but due to lack of documentation i am finding it difficult to run the go control place as management server, is there any documentation available using which i can make changes in the go control plane and run it to use it according to me.

[2020-07-22 22:02] acnodal-tc commented on #328
I'm also a control-plane newbie and I've found the integration tests to be a great example.  Run "./build/run_docker.sh make integration" to get started, and look in build/integration.sh and pkg/test/main/main.go to see how it works.

[2020-07-27 23:31] alecholmez commented on #328
@shivam009 @acnodal-tc is right the integration tests are a great place to start. I can try and write up some docs on writing an example management server from go-control-plane. It was more or less designed to be a reusable server that people can important and get up and running quickly with such as the README suggests. Are you referring to how to use it as the gRPC server or the sub packages such

[2020-07-28 00:54] acnodal-tc commented on #328
I've submitted #330 which might help.

[2020-07-28 07:21] shivam009 commented on #328
Thanks for responsing.
@acnodal-tc @alecholmez
I have few questions regarding using the control plane :
1) In the main.go i see you are taking NodeID as input, i don't understand this. I might have a management server(control plane) from which multiple envoy instances would be fetching data. So now How can i pass the NodeID of these Envoy instances before hand to generate the snapshot. There shoul

[2020-07-28 11:21] acnodal-tc commented on #328
1. I haven't looked at the code enough to know whether there's a callback mechanism to do what you want.  At the moment the snapshots are predefined.  You add a snapshot to the cache ahead of time, and when Envoy requests configuration it provides a NodeID which tells the xDS server which snapshot to serve.
1. IIUC you would use the snapshot's version for that - bump the version and the xDS server

[2020-07-28 11:23] acnodal-tc commented on #268
aae778bbe0a2c52846d35f2ba0607d0c584d7f3b just landed and you might find it helpful.

[2020-07-28 11:24] acnodal-tc commented on #228
aae778b just landed and you might find it helpful.  It's a trivial but functional example.

[2020-07-28 11:25] acnodal-tc commented on #125
aae778b just landed and provides the sort of help that you're looking for.

[2020-07-28 11:35] shivam009 commented on #328
@acnodal-tc  Thanks for responding,
1) Is there a document i can refer to know more about callbacks, because callbacks are one think i am not able to understand fully from the code.
2) I tried doing the same, i bumped the version and did setSnapshot for the node, but there was no response from sDS server on the stream to send the latest rules, that is why i wanted to know how to do that. One way o

[2020-07-28 15:50] kyessenov commented on #268
@wicharypawel This repo is not meant to be a product. It's a building block and a space to share common envoy management code between folks who build in-house control planes or some user-facing "mesh" type product. I just want to make expectations clear, since the scope is limited by design.

[2020-07-28 16:00] wicharypawel commented on #268
Don't get me wrong, I am not agains anybody. Moreover, it is appreciated that such work is open to public. However, as this is a public repository, hosted under envoy proxy org and people like me will eventually get here. Unless you make it clear in main README that repository is "internal" people will leave feedback.

[2020-07-28 19:34] theresac23 opened #331 "make integration test failing"
When running ./build/run_docker.sh make integration it passes the xds tests but then gives an error on `kill ${ENVOY_PID}`:

`2020/07/28 19:19:36 upstream listening HTTP/1.1 on 18080
2020/07/28 19:19:37 waiting for the first request...
2020/07/28 19:19:37 gateway listening HTTP/1.1 on 18001
2020/07/28 19:19:37 management server listening on 18000
2020/07/28 19:19:37 access log server listening on

[2020-07-28 23:53] kyessenov commented on #331
@acnodal-tc can you take a look?

[2020-07-29 12:37] acnodal-tc commented on #331
Looks like Envoy is exiting, both because the tests never get a response from upstream and because the Envoy process is no longer there to be killed.  @theresac23 could you please paste the entire output of the "./build/run_docker.sh make integration" command into a gist so I can take a look?  Thanks!

[2020-07-29 12:40] acnodal-tc commented on #328
1. I don't know if such a mechanism exists, you'd have to dive into the code to see.
2. When you say "no response" do you mean that the xDS server continued to serve the previous snapshot?

[2020-07-29 12:43] acnodal-tc commented on #331
FYI @theresac23 the tests configure Envoy to write its logs to files in the project root directory, e.g., envoy.xdsv3.log, envoy.ads.log etc.  You might find something useful in those logs since it looks like Envoy is exiting.

[2020-07-29 16:27] theresac23 commented on #331
Hi @acnodal-tc thanks for your response. This is has the output of running "./build/run_docker.sh make integration": https://gist.github.com/theresac23/eaa9a46539f6050b77ce6846c55e4ca8

I did peek into envoy.xdsv3.log and found a single error:
`[2020-07-29 16:21:17.834][1180][debug][init] [source/common/init/watcher_impl.cc:27] init manager Server destroyed
unable to bind domain socket with id=0 (

[2020-07-29 20:20] acnodal-tc commented on #331
I think that error in the envoy log is indicative.  Looks like Envoy isn't cleaning up after itself when it exits the first set of tests so it can't open its domain sockets for the second set of tests.

Relevant issue: https://github.com/envoyproxy/envoy/issues/88

The question is why not?  I'll look into that question this evening.

[2020-07-29 20:21] acnodal-tc commented on #317
Sounds like a good idea!  Do you have an example that this project could use as a template?

[2020-07-29 21:09] acnodal-tc commented on #293
Just curious - does the merge of #294 resolve this issue?

[2020-07-29 22:49] kyessenov commented on #293
Protobuf type takes precedence, so the name is not important as of last couple of releases of Envoy.

[2020-07-29 22:57] acnodal-tc commented on #293
Cool, thanks for the info.  Can we close this issue?

[2020-07-29 22:59] kyessenov commented on #293
Yeah, let's close it. The action item is just to document.

[2020-07-29 22:59] #293 closed

[2020-07-29 23:00] kyessenov commented on #264
This was done.

[2020-07-29 23:00] #264 closed

[2020-07-29 23:01] kyessenov commented on #288
Agree, but I don't have access to azure pipelines.
@lizan might be able to help.

[2020-07-29 23:01] kyessenov commented on #309
I think this requires an incremental xDS implementation.

[2020-07-29 23:02] kyessenov commented on #325
I suggest asking envoyproxy directly. This is not specific to golang.

[2020-07-29 23:29] lizan commented on #288
Yeah sure, what image are we trying to publish? I can setup a bare minimum pipelines, or you can also setup GitHub actions, because go-control-plane don't need RBE or self-hosted agents.

[2020-07-30 00:34] jpeach commented on #293
Would you take a PR documenting the names as deprecated and recommending use of the type URLs?

[2020-07-30 00:38] kyessenov commented on #293
Absolutely.

[2020-07-30 00:45] kyessenov commented on #288
It's using https://github.com/envoyproxy/go-control-plane/blob/master/Dockerfile.ci. Just need regular go tools.

[2020-07-30 01:40] acnodal-tc commented on #331
Looks like a race condition in integration.sh where it signals Envoy to exit but doesn't wait for it, so Envoy might still be running when the next test tries to start a different Envoy, causing conflicts with Envoy's domain sockets.

Attempt at a fix: https://github.com/acnodal/go-control-plane/commit/0631eadddb3ea4eceba8c7eaf37531829f13e947

I pushed a branch to acnodal's fork with that commit:

[2020-07-30 14:35] alecholmez commented on #317
I was thinking we could base it off the Envoy one, since this is in the same family of code

[2020-08-05 17:18] mihaitodor commented on #46
I think this has been fixed here: https://github.com/envoyproxy/envoy/pull/4787 It exposes `rate_limit_settings` in the `ads_config` of the Envoy config.

[2020-08-05 17:34] kyessenov commented on #46
Correct. It would be nice to wire the feedback from the server. Some messages are useful (invalid config, missing reference, etc).

[2020-08-05 18:08] mihaitodor commented on #46
Hmmm... I'm using the [Callbacks](https://github.com/envoyproxy/go-control-plane/blob/9877870102f198dded66227f17d52e96839ff441/pkg/server/v2/server.go#L59) to implement the `OnStreamResponse` method and I get this message when adding a duplicate listener: `Error adding/updating listener(s) whoami-http-one:10003: cannot bind '192.168.168.168:10003': Address already in use`. It also provides error c

[2020-08-05 20:18] kyessenov commented on #46
Yeah, it is just there is no way to plug in server side rate limiter ATM. Some of these errors are ephemeral so not sure what action to take anyways until it settles (e.g. the older listener stops listening in your case)

[2020-08-06 14:03] mihaitodor commented on #46
Ah, I see what you mean now. Thanks for the clarification! I'm not sure either how the server should behave, but the default `rate_limit_settings` in Envoy seem excessive to me. Retrying so fast can easily DDoS the go-control-plane server and I'm curious why anyone would need these retries to happen faster than once / second or so...

[2020-08-07 17:28] chintan8saaras opened #337 "Wellknown names should be in sync?"
My assumption is that the HTTP filter names in following files should be roughly in sync -

From go-control-plane -

[code]

From envoy source code -

[code]

However, I see that `pkg/wellknown/wellknown.go` lags the other one.

Maybe this is expected and they become eventually consistent?

Some filters (eg: tap) are supported for a while, so my guess was they should have been a part of `pkg/wellk

[2020-08-10 15:05] joshua-rutherford opened #339 "RawResponse is never cached."
The implementation of caching in https://github.com/envoyproxy/go-control-plane/pull/300 is not actually being used.  There are the following issues:

1. `RawResponse.marshaledResponse` is never set so `nil` should always be returned within this block: https://github.com/envoyproxy/go-control-plane/blob/master/pkg/cache/v2/cache.go#L108. So things should be breaking but aren't because:
1. `RawResp

[2020-08-11 03:58] danehans opened #342 "Example fails to proxy http://localhost:1000"
The [example](https://github.com/envoyproxy/go-control-plane/blob/master/internal/example/README.md) fails due to Envoy [preferring IPv6](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster.proto#enum-cluster-dnslookupfamily) as the address family for cluster DNS lookups. Since the upstream (www.envoyproxy.io) resolves to an IPv6 address [1], Envoy attempts to use IPv6 instead of IPv

[2020-08-12 16:13] gophobic commented on #57
Hey @kyessenov  Is this going to get released with v0.9.7? if it is so when is this going to be released? thanks!

[2020-08-12 20:25] kyessenov commented on #57
Yeah, it'll be released. For now, you can just latest SHA.

[2020-08-13 17:04] kyessenov commented on #339
Fixed.

[2020-08-13 17:04] #339 closed

[2020-08-13 17:06] kyessenov commented on #337
Well known names are tricky in Envoy. There's constant aliasing and deprecation going on with them. I'd suggest not using names unless they are required, and rely on type URLs which are more reliable. Per-filter overrides still depend on extension names, but that needs to be fixed.

[2020-08-13 17:07] kyessenov commented on #331
Wait was added, so this should be fixed now. Re-open if you object.

[2020-08-13 17:07] #331 closed

[2020-08-13 17:08] kyessenov commented on #323
Added and being tested.

[2020-08-13 17:08] #323 closed

[2020-08-13 17:08] kyessenov commented on #310
I think this needs incremental xDS.

[2020-08-13 17:52] acnodal-tc commented on #331
LGTM, thanks!

[2020-08-13 19:03] chintan8saaras commented on #337
Thank you for the clarification. Don't feel this bug is relevant. Closing it.

[2020-08-13 19:03] #337 closed

[2020-08-13 21:28] jpeach commented on #310
Is that a xDS protocol constraint, or just the way Envoy implements it?

[2020-08-13 22:41] kyessenov commented on #310
I think that's how Envoy implements it, but I may be wrong. I think both SRDS and VHDS use incremental.

[2020-08-24 16:01] #317 closed

[2020-08-25 11:25] alecholmez commented on #328
@shivam009 my initial docs PR was just merged, can we close this?

[2020-08-25 22:57] #342 closed

[2020-08-27 18:20] tessykt opened #348 "StreamSecrets gRPC error usig SDS service"
Hello,

I have beeing trying to send the certificates towards the envoys via SDS.
I am using the latest hash of master branch of go-control-plane repo.
Envoy produces the following logs:

[warning][config][bazel-out/k8-opt/bin/source/common/config/_virtual_includes/grpc_stream_lib/common/config/grpc_stream.h:92] StreamSecrets gRPC config stream closed: 14, no healthy upstream
[debug][config][sourc

[2020-08-28 01:40] asishrs opened #349 "Multiple listeners is not working with Golang XDS"
I was trying to use multiple listens with Go lang XDS client. According to the go documentation, gRPC client must be tolerant of servers that may ignore the resource name in the request. I wasn't able to make that work and while debugging, I found that the code is expecting clients to send all resources names in the request. The relevant code for that check is https://github.com/envoyproxy/go-cont

[2020-08-28 20:09] kyessenov commented on #349
It should handle 0 resource names here https://github.com/envoyproxy/go-control-plane/blob/9821e2beedf61fd8fc3b8e27589f2d5e210652c2/pkg/cache/v2/simple.go#L240. LDS and CDS are always requested in bulk. I think we exercise that in "xds" integration tests.

[2020-08-28 20:11] kyessenov commented on #348
This looks like a generic error with an upstream. There is nothing special with SDS as opposed to other xDS. You just need to register "v3" stubs like done here https://github.com/envoyproxy/go-control-plane/blob/master/pkg/test/v3/register.go#L46.

[2020-09-02 01:59] asishrs commented on #349
is this a design decision? It seems the gRPC xDS client doesn't consider that. Based on the documentation (noted below), the client uses gRPC server name in the connection string as LDS resource name.

Also, it is not possible for each client to be aware of other gRPC services

[2020-09-08 07:32] maksim-paskal opened #351 "Can't use header_to_metadata extension in envoy"
I was trying Unmarshal envoy config

[code]

with latest tag v0.9.6 using imported
[code]

and got error
[code]

master branch has valid proto file - problem in latest tag

[2020-09-15 17:05] kyessenov commented on #349
Delta xDS is not yet implemented here, so CDS/LDS are state-of-the-world at the moment. We haven't validated that gRPC can actually work with this server implementation.

[2020-09-17 00:03] asishrs commented on #251
@alecholmez can you share update on this effort? Thanks a lot for putting your time on this.

[2020-09-17 18:24] alecholmez commented on #251
Sorry for keeping those following the issue in the dark! The PR is open, I have removed the WIP tag from it as i've just recently gotten the integration fully running and successful! All unit tests pass with the exception of the opaque resource handling, so it is ready for review! It's rather large so I can do whatever the maintainers need me to do to help with that ache. Otherwise it's functional

[2020-09-22 15:13] fxposter commented on #293
at least not in 1.12 :)

[2020-09-22 17:36] irinagordei opened #356 "v3’s EndpointDiscoveryService is discovered with v2 resulting in "unknown service envoy.api.v2.EndpointDiscoveryService" error"
Envoy: v1.15.0
go-control-palne: v0.9.5

My intention is to fully transition to v3. I have the xDS server registered with v3 xDS APIs, and the bootstrap has dynamic resources’ **resource_api_version** and **transport_api_version** point to v3 where applicable.

I still see that my static resources (listeners, xDS cluster) in bootstrap are parsed as v2. The Envoy’s /config_dump shows them as v2:
[c

[2020-09-23 19:00] snowp opened #358 "Support xDS TTLs"
With https://github.com/envoyproxy/envoy/pull/13201 Envoy will have support for xDS TTLs. This issue tracks adding support for this in go-control-plane.

My thinking is to have the cache impls be aware of the TTLs and have it continuously push updates for TTL'd resources at some heartbeat interval (1/3 of the TTL duration? could be made configurable). This seems like it would be a fairly easy thin

[2020-09-23 19:53] kyessenov commented on #358
Does Envoy just unset version for the next request? If so, it should work by being client-driven.

[2020-09-23 19:59] snowp commented on #358
Envoy doesn't do anything special here, as designed its up the server to issue keep alives for the TTL'd resources. Envoy will immediately respond to ack the resource, same as with regular xDS responses.

If you think this should work differently it would be a good time to chime in :)

[2020-09-30 20:45] markdroth commented on #349
Using gRPC does not require using the incremental xDS protocol variants.  It's just using a non-wildcard request for LDS and CDS, as per the xDS spec:

https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#how-the-client-specifies-what-resources-to-return

The logic needed in the xDS server is not hard to implement.  Basically, if the initial request on the xDS stream for a given resou

[2020-10-01 00:00] easwars opened #360 "When is release v0.9.7 expected?"
At gRPC-Go, we are working on using certain v3 xDS APIs which are not part of the v0.9.6 release, but are part of the v0.9.7 release. I'd like to know when v0.9.7 is planned for?

Thank you.

[2020-10-01 17:23] ashutosh-narkar commented on #360
We are looking to use [this](https://github.com/envoyproxy/envoy/pull/13131) new feature to send request body as raw bytes to the external authorization server. It would be great if the new release could include that as well. Thanks !

[2020-10-01 17:30] kyessenov commented on #360
Sure, I'll tag a release once #361 is merged.

[2020-10-02 04:48] #351 closed

[2020-10-02 04:48] maksim-paskal commented on #351
problem solved in tag v0.9.7

[2020-10-07 14:44] amukherj1 commented on #57
@kyessenov does the change #314 mean that I don't have to bother running a separate endpoint for SDS, and can just update the secrets in the same way as rest of the config objects such as listeners, clusters, routes, etc.?

[2020-10-08 19:15] #360 closed

[2020-10-14 04:25] alecholmez commented on #356
Here's a sample configuration that could potentially help you:
https://github.com/envoyproxy/go-control-plane/blob/master/sample/bootstrap-xdsv3.yaml

I don't know if I've ever seen that before, let me know if that config is of any use

[2020-10-15 20:21] asishrs commented on #349
@dfawley and @menghanl can you help with the gRPC-Go xDS client implementation?

[2020-10-20 21:31] menghanl commented on #349
@asishrs I don't have much time to work on this soon (plus that I also need to study the go-control-plane code). But I can try to fix when I finish some of the work at hand now.

[2020-10-26 22:34] srini100 commented on #349
@kyessenov, @asishrs, I don't think this is just a small fix. I believe the problem here is that go-control-plane does not support gRPC xDS client. As @markdroth explained above, gRPC client asks for a specific resource name in the LDS request, which in this case is nothing but the hostname[:port] in the client channel URI. go-control-plane needs to be able to return this resource in the LDS respo

[2020-10-26 23:43] numerodix opened #365 "Synchronize releases with Envoy?"
The last go-control-plane release 0.9.7 was on 2020-10-02, which is a bit "unlucky" because Envoy 1.16 was released on 2020-10-09, just seven days later. This might mean that users of go-control-plane might need to wait a couple of months to consume new protobuf types from Envoy 1.16, given that releases of go-control-plane are spaced 2-3 months apart.

Would it be possible to try to synchronize r

[2020-10-27 15:09] kyessenov commented on #365
The APIs at head are usually stable so you can always just go get @ release SHA. Go versions don't align well with Envoy versions (some protos do make incompatible changes occassionally in alpha land), so I'm not sure how to make it more obvious which version/SHA to pick. Maybe we need some sort of tag from Envoy version that's not a version in go sense?

[2020-11-11 18:16] salrashid123 commented on #349
not sure if this covers the same thing but i put together a trivial standalone xds server that works with grpc clients
[here](https://github.com/salrashid123/grpc_xds) using
`github.com/envoyproxy/go-control-plane v0.9.4`
`google.golang.org/grpc v1.33.2`

[2020-11-17 01:27] easwars opened #366 "Server panic on 32-bit machines"
I see the following panic when using the go-control-plane server on 32-bit machines:
[code]

This is because of using atomic operations on 64-bit operands without guaranteeing that they are aligned on 64-bit boundaries on a 32-bit machine.
https://github.com/envoyproxy/go-control-plane/blob/8bc86ff80c1743302f73938f05031b4ec11f5817/pkg/cache/v3/simple.go#L80

Excerpt from the atomic package:
[code]

[2020-11-17 20:23] kyessenov commented on #366
Please do. It sounds like it's a variable ordering issue so might be solved by re-ordering int64 first. Thank you for reporting this!

[2020-11-18 20:20] #366 closed

[2020-12-01 00:48] easwars opened #370 "Server is leaking goroutines"
In gRPC-Go, we are trying to move our tests to use the management server implementation found here instead of using our own fake xDS management server.

Our tests run with a leak checker which waits for ten seconds after test completion to make sure that that there are no leaked goroutines. I see my tests fail every now and then with the following goroutine being leaked:
[code]

The goroutine bein

[2020-12-01 16:33] easwars opened #371 "New release"
Could we please have a new release?

cncf/udpa repo made some breaking changes in this commit: https://github.com/cncf/udpa/commit/82be644d481c4a40574a9ccc53de3047c8d661d0

And this has been pulled into go-control-plane as part of: https://github.com/envoyproxy/go-control-plane/commit/06aa925ade771a721b75eabecffe21b2b0b28352

gRPC-Go has a dependency on go-control-plane and cncf/udpa, and we need

[2020-12-01 16:36] easwars commented on #371
@dfawley @menghanl

[2020-12-01 17:25] kyessenov commented on #371
@easwars Sure, I can make a release. I've been waiting for outcome of a discussion (https://github.com/envoyproxy/go-control-plane/pull/369) due to some internal changes. @jyotimahapatra, do you think it's safe to ship the API change in a release.

I'm hesitant about v1 because of mis-alignment with xDS versioning. There is an expectation of backwards compatibility past 1.0, and the breaking chang

[2020-12-01 17:32] easwars commented on #371
Thanks @kyessenov

Could we also please make sure that https://github.com/envoyproxy/go-control-plane/pull/372 gets in before tagging a new release.

I also filed an issue with cncf/udpa asking for a v1: https://github.com/cncf/udpa/issues/42.

[2020-12-01 17:43] kyessenov commented on #370
I think the sequence is:
1. process() completes
2. go-routine blocks on line `reqCh <- req`
3. `reqStop` is updated.
4. Step 2 never unblocks as the receiver is gone.

The context done fix would work, but it only reaps the go-routines at the end I think. Let me think how to make it better.

[2020-12-01 17:44] kyessenov commented on #370
I'll follow up with a change to stop collecting zombie go-routines.

[2020-12-01 17:52] jyotimahapatra commented on #371
@kyessenov im performing the test today and will let you know by end of day

[2020-12-01 22:03] jyotimahapatra commented on #371
@kyessenov i did some tests and looks like there is a bug lurking somewhere. I [made sure](https://github.com/envoyproxy/xds-relay/pull/205/files) to cleanup state after every xds response sent. However, we are getting into a situation where the channel gets into a blocked state.
<img width="2493" alt="Screen Shot 2020-12-01 at 2 02 25 PM" src="https://user-images.githubusercontent.com/49211422/10

[2020-12-01 22:30] jyotimahapatra commented on #371
Given the complexity of the change and the difficulty in troubleshooting, i suggest reverting the draining change and then perform a release.
I'm not able to vet the change in our staging environment even after multiple attempts.

[2020-12-03 17:54] easwars commented on #371
Any update on the release? @kyessenov
Thanks.

[2020-12-10 03:02] storyicon opened #381 "Provide parsing and reading capabilities of admin interface"
Envoy's admin page provides some interfaces to access envoy runtime information, such as:
[code]
In some cases we may need to parse them out.
If there is a public SDK, there is no need for everyone to do the same thing over and over again.
Do you have any intention to do this?

[2020-12-10 17:59] kyessenov commented on #381
I think it's effectively https://www.envoyproxy.io/docs/envoy/latest/api-v3/admin/v3/config_dump.proto proto. You can use standard JSON->proto conversion.

[2020-12-11 07:24] storyicon commented on #381
thanks @kyessenov , I might be thinking more than just the structure definition.... You know, once there is a api, people want to have a sdk... You may think it is unnecessary, but it seems that go-control-plane is currently the most suitable place to do this. Of course, it's just a small thing.

[2020-12-11 19:52] kyessenov commented on #381
It sounds reasonable, but it's an OSS project, so contributions are welcome
:)

On Thu, Dec 10, 2020 at 11:24 PM storyicon <notifications@github.com> wrote:

[2020-12-17 02:38] #358 closed

[2020-12-23 06:11] MIBc commented on #259
The envoy is at `/usr/bin/envoy` if use `yum install`.

[2021-01-07 11:26] praminda opened #384 "Configuring additional discovery services"
Hi team,
We have a requirement to add additional discovery services to go-control-plane. Is it possible to attach/register a new discovery service externally without modifying go-control-plane project sources?

**Scenario:**
We are implementing a separate filter chain (implemented in java) for envoy using ext authz filter. For that filter chain we need to implement a separate set of xds services,

[2021-01-11 06:58] Rajith90 commented on #384
If this is a valid feature addition, we can contribute to this feature

[2021-01-12 14:56] tomqwpl commented on #257
I've got this problem too. My reading of the envoy documentation is that there's no problem doing only RDS and CDS over ADS.
I've taken out my call to "snapshot.Consistent" and envoy doesn't seem to complain.

[2021-01-13 16:46] cgkades opened #385 "Cannot get v3 to work for access logs or metrics"
I cannot get the v3 to work, but if I change it to v2 it does. Everything compiles Can you guys please tell me what I'm doing wrong?

I even tried https://github.com/envoyproxy/go-control-plane/blob/master/pkg/test/v3/accesslog.go instead of my own code, and it doesn't work either. I added a New() function to it so I could call it easier from my main.go, and added a simple `log.Println("got a log"

[2021-01-14 23:28] lfmunoz opened #386 "How do set snapshot of a dynamic configuration for multiple listeners?"
Please provide documentation or at least an example. Didn't find an example anywhere on the internet...

[code]

For makeHTTPListener see: https://github.com/envoyproxy/go-control-plane/blob/master/internal/example/resource.go

I also noticed there this ListenerCollection  but no idea how to set a Listener to type v1.CollectionEntry

[code]

[2021-01-15 01:00] #386 closed

[2021-01-19 16:51] EItanya commented on #385
Hello, you need to set the `TransportApiVersion`  in the grpc als config
[code]

[2021-01-19 17:18] cgkades commented on #385
Awesome, that was it, thank you!

[2021-01-19 17:19] #385 closed

[2021-01-22 04:56] #371 closed

[2021-01-22 19:16] cretz commented on #371
Why closed without waiting for an update?

[2021-01-25 04:30] easwars commented on #371
Release v0.9.8 was made after this issue was filed.

[2021-01-27 19:35] markdroth opened #388 "nonce does NOT survive across xDS stream restarts"
I don't know the go-control-plane code well enough to know what it's actually doing here, but I noticed the following comment:

https://github.com/envoyproxy/go-control-plane/blob/31f9241a16e627ba7696bed59a6353c95412ddb5/pkg/server/sotw/v2/server.go#L287

This is inaccurate; the system version may can be reused across xDS streams, but the nonce cannot.  I am clarifying this in the xDS spec in envo

[2021-01-28 19:30] kyessenov commented on #388
I think "stream" here means multi-plexed xDS over ADS. Nonces are not persisted between gRPC streams.

[2021-01-28 19:30] #388 closed

[2021-01-29 16:18] mdatrash opened #389 "Too much memory alloc"
[config_dump.txt](https://github.com/envoyproxy/go-control-plane/files/5895020/config_dump.txt)

Hello everyone, I started the server from example with bootstrap-xdsv3.yaml and I see that it consumes a lot of memory, the result in the picture is gaining within 2-3 hours.
go: 1.15.6
go-control-plane:v0.9.9-0.20201210154907-fd9021fe5dad

Inside envoy logs only spam with this:

[2021-01-29 16:19:39.3

[2021-01-29 17:01] cretz opened #390 "Create "all" package that imports all other packages to help dynamic proto resolution"
When unmarshaling a yaml like:

[code]

or any other WKT "any" proto type, it uses a global registration system that is set on package init. So if you haven't imported https://godoc.org/github.com/envoyproxy/go-control-plane/envoy/extensions/access_loggers/file/v3, this will fail with something like:

    unable to resolve "type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog"

[2021-01-29 21:03] kyessenov commented on #389
Looks like a leak. Can you get the number of active goroutines? Everything here looks like from gRPC so maybe it's a leak from there.

[2021-01-29 21:07] kyessenov commented on #390
That would be nice. Istio has something like that so we can just borrow that here with it s generation script: https://github.com/istio/istio/blob/c191dfdbf4d226b481a34687e01cfe49b8250774/pkg/config/xds/filter_types.gen.go

In general, UDPA struct aims to solve this problem for opaque config.

[2021-01-29 22:51] fxposter commented on #370
@kyessenov what about this?

	reqCh := make(chan *discovery.DiscoveryRequest)
	reqStop := make(chan struct{})
	go func() {
		for {
			req, err := stream.Recv()
			if err != nil {
				close(reqCh)
				return
			}
			select {
			case reqCh <- req:
			case <-reqStop:
				close(reqCh)
				return
			}
		}
	}()

	err := s.process(stream, reqCh, typeURL)

	close(reqStop)

[2021-01-29 23:09] kyessenov commented on #370
Do you think it can block forever in `Recv()`? Doesn't closing `reqStop` exits the for loop? It may be buggy, I'm just not seeing it.

[2021-01-30 02:26] cretz commented on #390
Here's my code from an internal project if curious:

[code]

[2021-01-30 16:41] mdatrash commented on #389
Hello, here are the goroutines. Can you tell me why there is always spam in the log that the connection is broken? Why is envoy constantly trying to reconnect? With this, my config is applied and working.

Maybe the problem is in my configuration? I have attached a configuration, could you take a look?
![gor](https://user-images.githubusercontent.com/14241033/106362325-2fb7f900-6333-11eb-9945-2d6b

[2021-01-31 09:04] fxposter commented on #370
Well, it is totally possible in theory, quite unlikely, but possible. Look at `process` method and check when can it finish:

https://github.com/envoyproxy/go-control-plane/blob/e42c3410afe12ff0ab77dbd5954e688a4ca59036/pkg/server/sotw/v2/server.go#L186

https://github.com/envoyproxy/go-control-plane/blob/e42c3410afe12ff0ab77dbd5954e688a4ca59036/pkg/server/sotw/v2/server.go#L199-L205

https://githu

[2021-01-31 09:06] fxposter commented on #370
Personally we've never seen leaks there, or at least they were not noticeable (ie: if process has 25k goroutines - if we leaked 10 during many days - that's unnoticeable in our setup).

[2021-02-04 20:42] dfawley opened #391 "Develop release policy"
gRPC-Go has several 1.x releases that depend upon this repo extensively for xds support.  If a breaking change were to happen here, it would break gRPC-Go users.

If there are concerns about some parts of the repo being unstable, then we would be happy with a sub-module inside `envoy` that can be released as a stable v1 for the generated proto messages.

See also https://github.com/cncf/udpa/issue

[2021-02-05 16:47] kenjones-cisco opened #392 "External Auth Question"
When Envoy calls `Check` (https://github.com/envoyproxy/go-control-plane/blob/main/envoy/service/auth/v3/external_auth.pb.go#L595) are we guaranteed that a fresh context is passed for every request?

After implementing the interface for my specific External Authorization service, I am getting context canceled after less than `100ms` even though I have configured the timeout to actually be `15s`.

[2021-02-17 17:17] snowp opened #394 "Future of V2 handling"
Currently we manage both V2 and V3 code by copying the V2 code and replacing import paths for V3. This works well when the feature set of V2 and V3 are identical, but becomes a pain to manage as V3 only features are added. What should the long term plan for V2/V3 handling be?

Should we stop supporting V2 at some point?
Should we stop autogenerating V3 and let the two versions diverge?
Should we r

[2021-02-17 17:23] snowp commented on #394
Another problem with supporting V2 is that it means that running the integration tests against a newer Envoy will fail as it now rejects V2 configs by default. If we want to maintain backwards compat for V2 this would likely complicate the integration test setup required

[2021-02-22 11:31] Xunzhuo opened #395 "How to build Incremental ADS / xDS"
![企业微信截图_16139873633453](https://user-images.githubusercontent.com/48784001/108702604-753ba080-7544-11eb-9e61-e7521c22c5ef.png)

In go control plane, they are not implemented

[2021-02-23 13:04] mstrYoda opened #396 "provide a RBAC builder"
Currently I am writing RBAC configuration in golang code (like Istio does). It would be nice to have a fluent RBAC builder.

For example I wrote those configuration:

![image](https://user-images.githubusercontent.com/12763626/108847089-51ce2f80-75f0-11eb-83dc-b0e484cbf3a0.png)

It would be better like below (it is just an example, it is not show exact implementation, real impl. can vary):

![imag

[2021-02-23 17:15] mstrYoda opened #397 "why isPermission_Rule and isPrincipal_Identifier interfaces are private?"
Is there any specific reason for this interfaces to be private? I want to wrap them to write a builder for RBAC but it causes redundancy in code.

I could not make a single function like below:

[code]

Instead I have to write seperate functions for per implementation as below:

[code]

[2021-02-24 01:54] #395 closed

[2021-02-25 06:52] delong-coder opened #398 "Are we planning to fully support ECDS in go-control-plane?"
Hi folks,

I want to use ECDS in our project through go-control-plane, but I think ECDS is not fully supported yet.

I found a PR of "cache: add snapshot support for ECDS ": https://github.com/envoyproxy/go-control-plane/pull/379/files, but [pkg/server/v3/server.go](https://github.com/envoyproxy/go-control-plane/blob/main/pkg/server/v3/server.go) haven't implemented the [ExtensionConfigDiscoverySe

[2021-02-26 19:08] zhishi opened #399 "snapshot cache doesn't handle xDS request correctly"
based on xDS protocol: [https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol]

It basically means just check version_info is not enough to know if discovery server should send a response. so this code won't send response if the request just adding a new name with previous version_info:
[code]
It need check both version_info and resource_names, which is much more complicated. Because t

[2021-03-02 22:53] kyessenov commented on #394
I think it's fair to remove v2 once Envoy removes v2 code path since there's been ample time to migrate. I don't think it's worth keeping v2 here when that happens.

[2021-03-03 00:22] kyessenov commented on #396
cc @yangminzhu

[2021-03-03 00:24] kyessenov commented on #392
Which context are we talking about? `context.Context` is something that gRPC provides, so it's probably some deadline configuration.

[2021-03-03 20:52] dfawley commented on #391
@kyessenov - is this something you would be able to do?  I also filed https://github.com/cncf/xds/issues/2 to cover a dependency of this repo's (or https://github.com/cncf/udpa/issues/42 if the protos are still coming from the deprecated UDPA repo).

[2021-03-09 10:47] 1it opened #402 "Multiple route matches"
Hello everyone!
This probably a dumb Golang generic question.
I'm struggling with multiple routes generation function implementation.
What I'm trying to do:
- Pulling info about services from Consul;
- Generating Clusters, Endpoints, Routes and Listener;
I'd like to have one Listener and one Route with multiple matches - one match per service.

This how I see it should work:
[code]
But, I'm having

[2021-03-12 22:32] menghanl opened #403 "Upgrade protoc-gen-go-grpc used for generating `.pb.go`s"
The `.pb.go`s are generated using old versions of codegen.

Some noticeable differences:
1. messages and services are in the same file, e.g. [v3/csds.pb.go](https://github.com/envoyproxy/go-control-plane/blob/061ab3afe6b87f9308bcfbd759099dc8340f6e3a/envoy/service/status/v3/csds.pb.go#L824) has messages and services
    - see [helloworld](https://github.com/grpc/grpc-go/tree/master/examples/hellowo

[2021-03-15 18:25] velcrine commented on #328
Pls dont. The below question's 1st point needs to be answered.

[2021-03-16 02:57] velcrine commented on #91
So, can anyone now relate, why tcp keep alive is related to very lagging config updation. Cant push the updates to prod, until I give the reason to the team.

[2021-03-16 03:07] velcrine commented on #328
@shivam009  can you please clarify how u worked around with Pointer 1 of yours, that NodeId needs to be set beforehand, and thus dynamic NodeId will not work.

[2021-03-16 17:47] menghanl commented on #403
@kyessenov Do you know where the script to generate `pb.go` files is kept?
If you point me to the script, I can make the changes. Thanks.

[2021-03-18 03:44] kyessenov commented on #403
@menghanl sorry about the delay. The script is located in envoy repository https://github.com/envoyproxy/envoy/blob/main/tools/api/generate_go_protobuf.py. We probably need to bump bazel rules for golang to get newer plugins.

[2021-03-18 11:31] 1it commented on #402
It works this way:

[code]

[2021-03-18 22:53] eduser25 commented on #399
We think we are hitting this and it's not so obvious why versioning takes prescedence
if the proto specifies that all has to be sent again if the resources requested change:

Populate snapshot cache with a single version for an envoy
[code]

Both SDS secrets are used for `UpstreamTlsContext` to reach `server/server`, as `tls_certificate` and as `validation_context`
After getting CDS just fine, env

[2021-03-19 05:12] velcrine commented on #328
got to know about callbacks. They work perfectly.

[2021-03-23 04:50] menghanl commented on #403
It seems this cannot be done until `rules_go` adds support for the new code generators: https://github.com/bazelbuild/rules_go/issues/2522

[2021-03-29 13:47] mooction opened #405 "UpstreamTlsContext does not implement isTransportSocket_ConfigType"
Hi everyone, I'm new to envoy & go-contorl-plane. I followed tutorials and I want to implement [this](https://github.com/envoyproxy/envoy/blob/main/examples/tls/envoy-http-https.yaml) YAML config:

[code]

Then I used codes in [example/resource.go](https://github.com/envoyproxy/go-control-plane/blob/main/internal/example/resource.go), here is my code snippet:

[code]

But it turns out an error:

[

[2021-03-31 00:54] biefy opened #407 "Open-telemetry proto import problem"
Data plane API now has a reference to open-telemetry protos. However, go-control-plane API does not reference these new protos when generating go code.  Import of `logs` package is not correctly recognized.  See https://github.com/envoyproxy/go-control-plane/blob/main/envoy/extensions/access_loggers/open_telemetry/v3alpha/logs_service.pb.go#L16

[code]
This needs to be fixed.  Otherwise, control p

[2021-04-02 16:48] alecholmez commented on #381
@storyicon do you think this should go here or potentially another project? This is more of a focused control-plane implementation and that's more along the lines of SDK utility.

What about another OSS project which would be focused on consuming Envoy produced data?

[2021-04-02 18:07] snowp commented on #407
Should be resolved now, can you verify?

[2021-04-06 05:32] praminda commented on #384
We have implemented this behavior following [kuma](https://github.com/kumahq/kuma/tree/master/pkg/mads) discovery service implementation. That gave us the expected flexibility of adding additional xds services based on envoy implementation.
Thanks.

[2021-04-06 05:32] #384 closed

[2021-04-06 08:54] mstrYoda commented on #396
@yangminzhu Any thoughts?

[2021-04-06 08:55] mstrYoda commented on #396
/no-stalebot

[2021-04-06 15:33] yangminzhu commented on #396
sorry for the late reply it got lost in my inbox. I like this idea and I think it will be very helpful for people to use the RBAC filter.

One thing to look at is the Istio authz code that already provides a simple library and abstraction of the RBAC API: https://github.com/istio/istio/tree/master/pilot/pkg/security/authz. Feel free to send out a doc or a PR directly, I guess the code could probab

[2021-04-06 16:01] dfawley commented on #391
Is there a 'never stale' label we can apply here?

also, cc @htuch

[2021-04-06 17:30] mattklein123 commented on #391
I don't think we currently have the resources to manage releases on this repo, but I will mark this help wanted for now.

[2021-04-06 18:54] dfawley commented on #391
### Proposal 1: the "quick and dirty" option if you don't mind releasing the go-control-plane server implementation as stable

1. Create a release with the tag `v1.0.0`

### Proposal 2: version only the `pb.go` files maintained here and not the server

1. Add a `go.mod` file to `envoy/`
[code]
2. Commit the changes produced by the above to this repo.
3. Make a release of the new submodule (tag: `e

[2021-04-07 14:11] snowp opened #413 "Use dynamic channel selection to reduce server code duplication"
Currently the server code manages a set of typed channels/cancelations/etc. and an untyped aggregation goroutine that allows for handling generic types. This is done because of how `select` only supports a static number of channels. As a result of this, there is a lot of duplicated code between the typed branches and a different set of logic handling the unknown types.

We might consider using `re

[2021-04-07 15:43] mattklein123 opened #414 "ci: use https://golangci-lint.run/"

[2021-04-07 20:20] #394 closed

[2021-04-07 21:45] alecholmez opened #418 "Incremental xDS cache implementations don't allow for custom types"
See here: https://github.com/envoyproxy/go-control-plane/pull/411#discussion_r608804591

[2021-04-08 12:22] phlax opened #419 "Example is broken"
the Envoy ci runs the following command:

[code]

which throws the following error:

[code]

envoy ci can be seen here https://dev.azure.com/cncf/envoy/_build/results?buildId=71451&view=logs&j=f1a49366-51c0-540f-0294-f73c2bb311a9&t=7fd036c9-61ec-5b59-3645-e90950dc67a6&l=3053

this has broken the Envoy main build

[2021-04-08 14:38] mattklein123 commented on #419
Oops. @snowp @alecholmez I think we need to retain the old v3 package paths so we don't break everyone's build? If we can't fix quickly can we revert the v2 removal?

[2021-04-08 14:41] alecholmez commented on #419
Oh whoops, I’ll parse through the examples and see if I can fix that.

[2021-04-08 15:09] phlax commented on #419
im wondering if/how we can add some kinda deprecation routine before actually removing for good

[2021-04-08 15:15] snowp commented on #419
Doing a deprecation cycle is a bit tricky since we don't have version releases really (1.0.0 not yet cut). I think reverting everything back to using the v3 package name has low cost, so I wouldn't be opposed to that. The other options IMO are to let downstream builds break or to start doing some kind of proper versioning.

[2021-04-08 15:17] phlax commented on #419
mho is dont break without warning - the fix is not obvious (at least not if you are not a go expert)

for anyone reading this the fix is to remove the `v3` suffix from go-control-plane imports

[2021-04-08 15:44] mattklein123 commented on #419
Let's just revert the package rename. I don't see any reason to break anyone for this.

[2021-04-08 16:48] alecholmez commented on #419
@mattklein123 @snowp would you like me to just go ahead and add back the v3 package path? IMO the break this is causing is a really simple fix, just a matter of removing a few characters from an import path but I can go ahead and bring that back in if we'd like.

[2021-04-08 16:54] phlax commented on #419
its only a simple fix if you know what changed - if not you need to read the source/commits to figure what changed

[2021-04-08 17:23] mattklein123 commented on #419
Imo I would switch it back. We can revert the envoy side fix when it lands. I just don't think it's worth the build break.

[2021-04-08 17:24] alecholmez commented on #419
Sounds good, just opened the PR to do so

[2021-04-09 15:27] alecholmez commented on #419
@phlax has this been resolved? The import paths were reverted

[2021-04-09 15:40] phlax commented on #419
afaict yes - Envoy post-submit seems happy

[2021-04-09 15:40] #419 closed

[2021-04-13 03:25] mooction commented on #405
I found the answer is to use `ptypes.MarshalAny`:

[code]

[2021-04-13 03:25] #405 closed

[2021-04-13 08:07] #7 closed

[2021-04-13 08:08] #8 closed

[2021-04-13 08:08] #13 closed

[2021-04-13 08:08] #37 closed

[2021-04-13 08:08] #46 closed

[2021-04-13 08:08] #57 closed

[2021-04-13 08:08] #58 closed

[2021-04-13 08:08] #59 closed

[2021-04-13 08:08] #62 closed

[2021-04-13 08:08] #63 closed

[2021-04-13 08:08] #85 closed

[2021-04-13 08:08] #87 closed

[2021-04-13 08:08] #110 closed

[2021-04-13 08:08] #119 closed

[2021-04-13 08:08] #122 closed

[2021-04-13 08:08] #125 closed

[2021-04-13 08:08] #126 closed

[2021-04-13 08:08] #146 closed

[2021-04-13 08:08] #151 closed

[2021-04-13 08:08] #180 closed

[2021-04-13 08:08] #183 closed

[2021-04-13 08:08] #184 closed

[2021-04-13 08:08] #218 closed

[2021-04-13 08:08] #228 closed

[2021-04-13 08:08] #235 closed

[2021-04-13 08:09] #245 closed

[2021-04-13 08:09] #249 closed

[2021-04-13 08:09] #253 closed

[2021-04-13 08:09] #254 closed

[2021-04-13 08:09] #256 closed

[2021-04-13 08:09] #257 closed

[2021-04-13 08:09] #259 closed

[2021-04-13 08:09] #268 closed

[2021-04-13 08:09] #269 closed

[2021-04-13 08:09] #288 closed

[2021-04-13 08:09] #298 closed

[2021-04-13 08:09] #301 closed

[2021-04-13 08:09] #302 closed

[2021-04-13 08:09] #303 closed

[2021-04-13 08:10] #309 closed

[2021-04-13 08:10] #310 closed

[2021-04-13 08:10] #348 closed

[2021-04-13 08:10] #356 closed

[2021-04-13 08:10] #365 closed

[2021-04-13 08:10] #370 closed

[2021-04-13 08:10] #389 closed

[2021-04-13 08:11] #390 closed

[2021-04-13 08:11] #392 closed

[2021-04-13 08:11] #397 closed

[2021-04-13 08:11] #398 closed

[2021-04-15 03:56] alecholmez opened #421 "Incremental xDS implementations need to support TTL"
Currently the incremental xDS code does not support the TTL resource definitions like SOTW does. After all base implementations are in I'll go back and port that logic over as well.

[2021-04-20 15:44] snowp opened #423 "Incremental snapshot update support for DeltaXDS"
The work in progress to add support for DeltaXDS relies on computing per resource versions from a snapshot every time it is updated, pushing updates if the computed version differs from the computed versions of the previous snapshot. This ensures that we only update the resources that change, but requires substantial computation per snapshot update.

We should support 1) specifying the per-resourc

[2021-04-20 15:52] snowp opened #424 "Throughput benchmarks"
Add benchmarks providing some baseline for performance. An example of this would be a producer that produces new snapshots at a rapid pace and seeing how long it takes for these changes to get sent to the client.

Should at the very least cover the new delta code (as it's the more performant protocol), but could also target sotw.

This would help us better understand the impact of larger changes (

[2021-04-20 21:59] shashankram commented on #399
Commenting so this issue doesn't get wiped out by the stale bot.
@kyessenov, @yangminzhu, @jyotima, @jessicayuen  could you help with this?

[2021-04-21 08:17] easwars opened #426 "snapshot cache does not respond with resources"
gRPC-Go uses the go-control-plane server as our management server in some of our e2e tests. And as part of one of the tests, I was doing the following:
- Spun up a go-control-plane server.
- Added some resources to be used on the gRPC-client (listener, route config, cluster, endpoints) and gRPC-server (inbound listener) as part of a new snapshot into the cache.
- started the gRPC-server. This send

[2021-04-22 04:08] #91 closed

[2021-04-23 01:39] v3n opened #427 "Make pkg available from @envoy//"
Hello,

We use Bazel to build various Go services. Many of these services use protobuf and grpc already. `rules_go` doesn't like mixed pre-generated and generated protobuf output.

To keep our build completely hermetic, right now we depend on `@envoy//` and use `api_binding.bzl` to bind the xDS endpoints to `@envoyproxy//` and build Envoy+xDS in lockstep with our services.

We'd like to be able to

[2021-04-26 22:09] easwars commented on #426
Gentle ping ...

[2021-04-29 09:23] phlax commented on #403
i reopened this and added nostale before realizing it wasnt in the envoy main repo - im guessing it probably does want to stay open tho

[2021-05-04 23:23] biefy commented on #407
The problem is gone.  Thanks @snowp for the fix.

[2021-05-04 23:23] #407 closed

[2021-05-10 01:12] #381 closed

[2021-05-11 00:36] easwars opened #429 "StreamHandler can leak goroutines"
[StreamHandler](https://github.com/envoyproxy/go-control-plane/blob/b752439803c18896b97c3708c2147c1005ddaec6/pkg/server/sotw/v3/server.go#L394) spawns an anonymous goroutine to receive messages from the stream and push them on to a channel from where `process` reads it.

The following sequence of events can leak the above goroutine:
1. Anonymous receives msg 1 and pushes this on to the channel.
2.

[2021-05-11 00:39] easwars commented on #429
gRPC-Go uses go-control-plane server in its e2e tests, and we have a leakchecker which runs at the end of every test, and we have been seeing a lot of goroutines leaks. This is causing our tests to be extremely flaky. The leaked goroutine looks like this:

[code]

[2021-05-11 00:42] easwars commented on #429
@kyessenov : Could you please prioritize this. We have been experiencing a lot of pain lately with flaky tests. Thank you.

[2021-05-11 20:31] menghanl opened #431 "Resource not re-sent if clients unsubscribe and then resubscribe"
The scenario:

Client is watch for resource A
[code]

user unsubscribe for A
[code]

user resubscribe for A
[code]

It's expected that the control plane will resend resource for A to the client, even though there's no update in the resource, because of the unsubscribe and resubscribe.

But go-control-plane doesn't re-send the resource.

[2021-05-11 20:34] menghanl commented on #431
The spec doesn't talk about this scenario explicitly.

In the [Unsubscribing From Resources](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#unsubscribing-from-resources) section

In the [Resource updates](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#resource-updates) section

[2021-05-11 20:38] menghanl commented on #431
cc @markdroth @dfawley

[2021-05-12 02:39] htuch commented on #391
@kyessenov @alecholmez @snowp  thoughts?

[2021-05-12 17:26] snowp commented on #391
I don't see a problem with it if ya'll are willing to do the work :)

I would think the second option of only versioning the protos would be the safest, I think that would also allow projects to import the protos without importing the whole control plane code? If so that might provide additional benefits as well

[2021-05-12 22:07] alecholmez commented on #391
@htuch @mattklein123 I'd be more than happy to take this over and manage this! Would love to chat with you guys and potentially talk about future goals as well

[2021-05-12 22:15] stevesloka commented on #391
I'm happy to help out as well!

[2021-05-13 03:08] dfawley commented on #391
Because it's in the same repo, I _believe_ the rest of the control plane code would be downloaded by any application using only the protos.  But this would only be a minor cost, and external dependencies of packages not used by the application are not downloaded in either case.

[2021-05-16 05:29] czhu-wish commented on #399
We also found a similar issue recently where we use CDS and RDS. We print the `snapshot` and everything looks correct. However, when looking up discovery callback, we can see `OnStreamRequest` asking for both CDS and RDS, but server only responds `CDS`. RDS response just never happens.

[2021-05-19 14:47] snowp commented on #431
This seems like a bug to me. I assume this happens because the code right now assumes that if the requested version matches the server version then nothing needs to be done, but it sounds like we need to track subscriptions even in SotW to re-push resources for these kind of subscription changes.

@htuch can you confirm that what this issue talks about is the expected behavior?

@alecholmez We mig

[2021-05-19 18:15] markdroth commented on #431
Yes, I think this is a bug.  The xDS server definitely needs to explicitly track the set of resources that the client is subscribed to.

Another relevant part of the spec is [Knowing When a Requested Resource Does Not Exist](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#knowing-when-a-requested-resource-does-not-exist):

The way I think of an xDS server, its job is to basically

[2021-05-19 23:05] austince opened #432 "REST Long Polling"
The xDS docs for the REST-JSON variant of the protocol mention that long polling is available for xDS singleton APIs (https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#rest-json-polling-subscriptions).

I'm wondering if any of the implementations here (i.e. the [ManagementGateway](https://github.com/envoyproxy/go-control-plane/blob/32fa50d1e2f99dae1647bd1ae0a68cc511e50261/pkg/test/

[2021-05-20 03:32] kyessenov commented on #391
I'm fine with the independently versioning the protos as well. It captures the right backwards compatibility expectations from Envoy APIs without tying the control plane to its existing interfaces. My main concern is the technical: how to achieve that with minimal pain. It was quite painful to have multi-module repos in the past, and I haven't revisited this subject in awhile.

[2021-05-20 03:37] kyessenov commented on #391
On the second thought, Envoy APIs do have "alpha" packages that can have breaking changes. It would not be right to have "v1" with those packages. I think we'd need to pull out those extensions out of v1-versioned module if we are to follow this plan.

[2021-05-20 03:41] kyessenov commented on #426
The goal of the "ads" flag was to correct for the flaw in the protocol. Envoy would incrementally request {R1}, {R1, R2}, ... repeatedly and we would have to create temporary versions if we respond to each intermediate request.

I think you can just set the flag to "false". It doesn't mean aggregated discovery stops working. ADS would just be treated as pure multiplexed xDSes.

[2021-05-20 16:25] jakubdyszkiewicz opened #433 "Cache for custom resources without individual versioning"
Hey, [Kuma](https://kuma.io) maintainer here 👋

We reuse XDS protocol with custom resources across different parts of the code
* Exchange Kuma policies between control planes in multizone deployment
* Provide information about Envoys to Prometheus
* Implement HDS

We loved that you introduced `Server#StreamHandler` that can take any resource. It [greatly simplified](https://github.com/kumahq/kuma/

[2021-05-20 17:10] dfawley commented on #391
@kyessenov see [my comment above](https://github.com/envoyproxy/go-control-plane/issues/391#issuecomment-814362644) for how to do multi-module repos here.  We have several modules in https://github.com/grpc/grpc-go, and it's not difficult to manage.

As long as they are very clearly indicated as such via the package name or comments visible via godoc, it should be safe to include alpha packages th

[2021-05-20 20:25] alecholmez commented on #431
@snowp I think we can certainly abstract a pattern out of the delta logic that we could apply within SOTW.

Luckily I defined the `StreamState` as a global server package so we could internally reference that pattern throughout the code

[2021-05-20 20:31] alecholmez commented on #421
Ah we need to remove the stale label here

[2021-05-20 20:40] alecholmez commented on #391
I have no negatives on the multi-module repo versioning. I will say I think it's important we do version the logic external to the protos in this repo though. Quite a few large projects depend on the code in here (that are past v1.0) and IMHO it's important we don't break them (especially when landing things like incremental which make API changes).

Regarding the alpha protos, I agree with @dfawl

[2021-05-20 20:56] alecholmez commented on #433
@jakubdyszkiewicz Hey there!

Some of these problems you face might actually get solved with Incremental xDS going in :)
I'll shortly be opening PRs for Linear and Mux caching which should solve the issue you brought to light regarding excessive watch updates.

I think the simple cache implementation could certainly use some massaging here. I actually like the idea of a `Snapshot` as an interface.

[2021-05-21 07:50] jakubdyszkiewicz commented on #433
Yes, we are using SOTW xDS.

For "individual resource versioning" what I meant is that with Linear cache you can have 3 resources:
* res1 - version 1
* res2 - version 2
* res3 - version 3

and the client can send 3 DiscoveryRequests with resourceNames
* DiscoveryRequest resourceNames=res1
* DiscoveryRequest resourceNames=res2
* DiscoveryRequest resourceNames=res3

so when res1 is changed you only

[2021-05-22 20:15] alecholmez commented on #432
I believe the grpc gateway supports RESTful long polling out of the box: https://github.com/grpc-ecosystem/grpc-gateway#supported

[2021-05-22 20:28] alecholmez commented on #433
I think this is the current functionality of the SOTW code though isn't it? We send all back regardless of the individual resource version? That's currently how the Simple snapshot cache works, and I believe it's the same for the Linear cache.

I'm not opposed to adding a simple SetResources in the linear cache, I think that would be helpful but i'd also like to keep the current interface with Upd

[2021-05-24 08:29] #328 closed

[2021-05-24 09:03] jakubdyszkiewicz commented on #433
It is, although with UpdateResource, when I want to send 3 resources, the version will change 3 times therefore most likely we will exchange DiscoveryRequest/Response 3 times.

Ok, great! Let me try to implement this

[2021-05-26 02:22] alecholmez commented on #424
@snowp We definitely want this, once the delta code lands I think it'd be worth while spending some time on really figuring out the performance gains of delta.

Just an FYI, I introduced this a while ago: https://github.com/envoyproxy/go-control-plane/pull/362 but it never got merged. Might be worth revisiting at some point.

[2021-05-26 02:23] alecholmez commented on #413
I just opened this: https://github.com/envoyproxy/go-control-plane/pull/438

It's not as elegant as the dynamic channel selection but it reduces the code duplication we have in SOTW.

[2021-05-26 02:25] alecholmez commented on #399
I think this issue is related to the following: https://github.com/envoyproxy/go-control-plane/issues/431

We potentially have a solution and we are looking into it. Thank you all for your patience!

[2021-05-26 22:41] ekristen opened #441 "Help with SDS - 2+ tls.Secret to types.Resource causes Envoy to not fetch any"
I originally tested the example code and also the code here https://github.com/salrashid123/envoy_control using the ADS feature.

Everything was working until I added another secret.

For example if I have a single TLS Secrets that is referenced by a listener, it works perfectly, the moment I add a second Secret different name and I've tried the same data vs different data, envoy stops retrieving

[2021-05-27 16:02] ekristen commented on #441
It seems that if you include extra data that's not referenced even though it's considered consistent or at least the snapshot consistency does not fail, envoy will not load in the resources properly. I've managed to get it to work only if the exact resource being used are included.

[2021-05-27 16:02] #441 closed

[2021-05-27 19:34] alecholmez opened #442 "Runtime discovery service breaks delta ADS"
When using ADS with the incremental protocol, defining a RTDS layer in the bootstrap config breaks envoy and causes it to shutdown. Attached are some logs from the integration tests where we saw this failure

[envoy.delta-ads.log](https://github.com/envoyproxy/go-control-plane/files/6556371/Untitled.log)

[2021-05-28 19:08] alecholmez commented on #391
Hi all, I made this document: https://docs.google.com/document/d/1d8PKnvxJALUx7lT50V7V-8b45xwrUvvtFdpXpLwk55s/edit?usp=sharing

@dfawley Feel free to edit as you please or add yourself as a doc owner. This was your proposal after all. I think it might be worth outlining what importing this project would look like if we're going down the multi-module route

[2021-05-30 05:49] #427 closed

[2021-06-02 00:17] dfawley commented on #391
The doc LGTM, but you may also want to explicitly capture steps 2-4 in my comment, which are also important.

The process for importing packages in this repo wouldn't change for users.  Users would probably want to do a `go get github.com/envoyproxy/go-control-plane/envoy@v1.0 && go mod tidy` (optional) after the release is performed, just to see "v1" instead of "v0" in their `go.mod` files.

[2021-06-02 08:14] hochuenw-dd opened #444 "xds server works with mostly static + dynamic RDS"
Hi,
I have a static listener + dynamic route configuration which is similar to this one https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/examples#mostly-static-with-dynamic-eds, the difference is mine is dynamic rds instead of dynamic eds

[code]

Since I don't have any dynamic listeners, and I just have a dynamic route configuration, in my xDS server, I don't return any listener

[2021-06-02 19:30] austince commented on #432
Thanks for the pointer @alecholmez! I'll take a look at that. Do you know why long polling is explicitly mentioned in the envoy docs, if it is not implemented here?

[2021-06-09 04:55] jparklab opened #446 "incrementalXDS does not cancel existing watch"
Cancel on watch object is called when watch does not exist in the map (https://github.com/envoyproxy/go-control-plane/blob/main/pkg/server/delta/v3/server.go#L168).  (It is currently no-op since when 'ok' is false, watch will have the zero value. )
Cancel should be called when 'ok' is true since we expect cancel to be called when we find watch in the map.

[code]

[2021-06-10 22:21] alecholmez commented on #446
@snowp I think this is actually a problem that we might have to think about with regards to the nonce handling too.

SOTW will cancel if the nonces are equal:
[code]
But delta does the above and only looks for something that doesn't exist.

[2021-06-10 22:23] snowp commented on #446
Wouldn't we just cancel the watch whenever we get a response? I'm not sure how nonce handling comes into play since its essentially not used in delta atm?

[2021-06-10 22:30] alecholmez commented on #446
I guess we could do that, I was trying to rationalize around handling ACKs, etc... but that's a good point if the nonce really isn't used in delta atm then we can just cancel. I'll test this change

[2021-06-13 21:02] jparklab opened #448 "incrementalXDS silently ignores requests from the second request for the same typeURL"
Envoy sends multiple DeltaDiscoveryRequests for the same typeURL via the same stream connection to keep receiving updates for the type. However, the current incrementalXDS implementation silently ignores from the second request.

Here's what we saw from output of our integration test.(we added callbacks to print messages on delta stream open/close/request/response)
[code]
on 2021-06-11T18:40:37.59

[2021-06-13 21:08] jparklab commented on #446
@alecholmez thanks for looking into the issue, and making a patch quickly. I have been waiting for the incremental XDS and it's great to have it.
While I was testing our controller with the latest code, I found that there are a few issues and summarized it in https://github.com/envoyproxy/go-control-plane/issues/448. It would be nice if you can take a look at it as well while making a patch for th

[2021-06-13 21:10] jparklab commented on #448
Please let me know if there's anything I can help with. (e.g. testing a patch, reviewing a MR, or creating a MR with changes I have).

[2021-06-15 11:51] databus23 opened #449 "idle grpc streams are closed when http2 connection keepalives are enabled"
I noticed then when using go-control-plane and the cache is updated infrequently the grpc stream gets disconnected after about 2 minutes of idle time. When I update the cache with higher frequency this does not happen.
This looks to me like some sort of timeout in the grpc server but I can't figure out why this happens.
Is there a way to prevent this? I would like to avoid envoy to keep logging er

[2021-06-15 15:11] databus23 commented on #449
Update: The stream resets seem to be caused by the http2 `connection_keepalive` settings. without them I don't get these resets, if a modify the interval the stream reset interval is also changing. I don't understand why a http keepalive setting would  cause this? I had multiple cases where the envoy stopped reconnecting to the controlplane, that's we I added the http2 keepalive setting.

[2021-06-16 08:40] databus23 commented on #449
Ok the problem was caused but the go grpc servers default keepalive `EnforcementPolicy` which disconnects client that send pings more often then every 5 minutes.

Starting the server with the option `grpc.KeepaliveEnforcementPolicy(keepalive.EnforcementPolicy{MinTime: 10 * time.Second})` fixes the problem.

[2021-06-16 08:41] #449 closed

[2021-06-16 10:47] virnet opened #450 "How to transform JSON string into Envoy's struct?"
Code:
[code]
Stdou:
[code]

[2021-06-17 04:48] cheimu commented on #450
What you are trying to unmarshal is accesslog which is type of `Any` from protobuf.  Use package `"github.com/golang/protobuf/ptypes"` instead, there is a method called `marshalAny()` and `unmarshalAny()`.

[2021-06-18 22:02] dfawley commented on #391
Is there a path forward here?  How can we make this happen?

[2021-06-19 03:01] virnet commented on #450
Are there any test cases?
When I use ptypes. Unmarshal, need to specify TypeUrl, but I'm not sure what value typeurl should be.
[code]
output
[code]

[2021-06-19 03:06] virnet commented on #450
@cheimu
I try to import "github.com/envoyproxy/go-control-plane/envoy/extensions/access_loggers/file/v3", and then use jsonpb. UnmarshalString to unmarshal, no error will be reported.
[code]
output
[code]

[2021-06-19 03:12] virnet commented on #450
@cheimu But when jsonpb.Unmarshal is used for cluster configuration, an error is reported:
` unknown value "\"strict_dns\"" for enum envoy.config.cluster.v3.Cluster.DiscoveryType`
code
[code]
output
[code]

[2021-06-21 14:53] alecholmez commented on #448
@jparklab thanks for the solution! We're also currently investigating this since you posted: https://github.com/envoyproxy/go-control-plane/issues/446 previously. I'll look into what you posted above and see were we can proceed. I have a PR up now I might be able to move this into.

[2021-06-21 15:55] alecholmez commented on #450
Just FYI I believe `jsonpb` is deprecated. `protojson` is the new package everyone should be using.

https://pkg.go.dev/google.golang.org/protobuf/encoding/protojson#Unmarshal

[2021-06-25 15:05] #433 closed

[2021-06-25 15:06] alecholmez commented on #424
I think I'm going to take this next, we need to test the performance of what we have now. Utilizing the integration test with something like pprof to scrape for statistics seems appealing.

[2021-06-25 15:09] snowp commented on #424
Running on top the integration tests seems like a good start!

One thing to think about beyond that is how performance would differ under different load patterns: lots of streams against the same type, lots of streams against an opaque type, lots of streams with different types, etc. and how the types of updates that are happening affect the stream (what % of streams are getting updates, the ADS c

[2021-06-25 15:15] alecholmez commented on #424
Excellent, myself and @dougfort might iterate on a design doc to see what we can come up with. We'll see what we can capture, theres a gold mine of data here

[2021-06-26 04:06] #426 closed

[2021-06-27 16:22] #429 closed

[2021-06-29 15:35] alecholmez commented on #424
@snowp if we intend to utilize the integration tests for what we want, is it safe to assume we don't intend on doing any long term storage of this throughput data? I was iterating design with a few co-workers and we were curious as to what you think is a good fit for this situation:

1. A one-time executable benchmark that simply outputs formatted data for users of this repo to consume
2. Or a com

[2021-06-29 15:40] alecholmez commented on #424
Want to note that eventually we should use this benchmark to test code change too: https://github.com/envoyproxy/go-control-plane/pull/451

[2021-07-06 12:31] grobza commented on #349
I stumbled upon this issue. I was trying to connect service A to service B using xDS discovery. It works fine if the snapshot in xDS cache only contains service B. When it contains services A or C as well xDS cannot respond correctly when A is using discovery.

The error in go-control-plane is that expects [here](https://github.com/envoyproxy/go-control-plane/blob/main/pkg/cache/v3/simple.go#L275)

[2021-07-06 14:14] derekperkins commented on #391
It seems like there is consensus on using multiple modules. Is there anything else to discuss before this gets implemented?

[2021-07-09 16:05] #444 closed

[2021-07-10 00:09] #432 closed

[2021-07-20 16:50] alecholmez commented on #446
@jparklab This is now patched in the server code. Let me know if this issue is resolved!

[2021-07-21 01:06] jparklab commented on #446
@alecholmez Thanks for the patch. I'll test it with out tests and post an update.

[2021-07-21 02:56] 13567436138 opened #462 "ERROR: Service 'go-control-plane' failed to build: The command '/bin/sh -c cd go-control-plane && make bin/example' returned a non-zero code: 2"
[code]

docker build fail

[2021-07-22 00:49] s-matyukevich opened #463 "SOTW linear cache bug"
Steps to reproduce:
1. envoy sends wildcard Discovery request with type `type.googleapis.com/envoy.config.cluster.v3.Cluster` (this always happens on startup)
2. The control plane responds with a cluster list, which contains a single cluster: clusterA
3. envoy sends another request with type `type.googleapis.com/envoy.config.endpoint.v3.ClusterLoadAssignment` and `resource_names` parameter set to

[2021-07-22 13:56] HejVkt opened #464 "I'm trying to add a custom header "X-Auth" to OkHttpResponse but it's not working"
I have to change the transport proto version to v3 and add a custom header "X-Auth" to OkHttpResponse, but I can't see the header at the backend php.

It works fine with v2 with same configuration.

Related question for the Envoy is here https://github.com/envoyproxy/envoy/issues/17450

Please help me.

[2021-07-22 14:33] #464 closed

[2021-07-22 15:53] alecholmez commented on #462
Are there any other error codes provided with the failure? Any error logs? Failed to compile?

[2021-07-23 02:52] 13567436138 commented on #462
no，I have give you the Dockerfile，you can try

[2021-07-23 14:38] alecholmez commented on #462
@13567436138 That dockerfile built for me no problem after I removed the line:
[code]

Also you generally want to specify your workdir at the top of the dockerfile

[2021-07-23 14:39] alecholmez commented on #462
I am closing this issue

[2021-07-23 14:39] #462 closed

[2021-07-23 14:44] alecholmez commented on #450
has this been resolved? @virnet

[2021-07-23 14:51] s-matyukevich opened #465 "Delta xDS doesn't respond with anything if the snapshot for a node is empty. This causes envoy to fail its healthcheck."
We use a combination of static and dynamic resources for our envoys and sometimes we want envoy to start with an empty dynamic_resources list. This doesn't work with the current delta xDS implementation because [here](https://github.com/envoyproxy/go-control-plane/blob/main/pkg/cache/v3/delta.go#L34) we check whether there were any updates and if no, we just open a new watch and don't send DeltaDi

[2021-07-23 15:00] snowp commented on #465
I don't think this is something we'd want to enable by default as it's a pretty important feature for any system that relies on observing the incoming requests or pending watches in order to generate the initial configuration: the fact that no response is sent ensures that Envoy will block startup until the snapshot is set, which is preferable over Envoy coming up without resources in certain depl

[2021-07-23 15:05] s-matyukevich commented on #465
That's actually what we did. To clarify the point: I am not suggesting sending a response if no snapshot is set for the node, I want to send an empty response if an empty snapshot is used.